@font-face {
  font-family: "DVSerif";
  src: url("fonts/DVSerif.ttf");
}
@font-face {
  font-family: "DVSerif";
  src: url("fonts/DVSerif-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "DVSerif";
  src: url("fonts/DVSerif-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "DVSerif";
  src: url("fonts/DVSerif-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "DVSans";
  src: url("fonts/DVSans.ttf");
}
@font-face {
  font-family: "DVSans";
  src: url("fonts/DVSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "DVSans";
  src: url("fonts/DVSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "DVSans";
  src: url("fonts/DVSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "fonts/Droid Serif";
  src: url("fonts/DroidSerif.ttf");
}
@font-face {
  font-family: "Droid Serif";
  src: url("fonts/DroidSerif-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Droid Serif";
  src: url("fonts/DroidSerif-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Droid Serif";
  src: url("fonts/DroidSerif-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Droid Sans";
  src: url("fonts/DroidSans.ttf");
}
@font-face {
  font-family: "Droid Sans";
  src: url("fonts/DroidSans-Bold.ttf");
  font-weight: bold;
}

body {
  background-color: #c4bbcc;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
#content {
  max-width: 47em;
  font-size: 100%;
  margin: 0px auto;

  font-family: "DVSerif", Serif;

  color: #444;
}

.chapter {
  padding: 3em 1em 3em 1em;
}

chapter1 {
  background-color: burlywood;
}

section.sub-2 {
  background-color: white;
  -webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  border-top: 2px solid #c6d1d2;
  margin: 2em 0em 2em 0em;
  padding: 1em 4em 2em 4em;
}
section.sub-2a {
  background-color: #486d75;
  color: #ffffff;
  -webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  border-top: 2px solid #486d75;
  margin: 2em 0em 2em 0em;
  padding: 1em 4em 2em 4em;
}
section.sub-3 {
  margin-top: 1em;
  margin-bottom: 0em;
}
section.sub-4 {
  margin-top: 2.5em;
  margin-bottom: 0em;
}
a {
  word-wrap: break-word;
}

aside {
}
h1 {
  font-size: 2.7em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.1em;
}

p {
  margin: 0;
  line-height: 150%;
}
p + p {
  margin: 1em 0;
  text-indent: 0;
}
aside {
  padding: 1em;
  font-size: 0.8em;
  line-height: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
}
ul,
ol {
  margin: 0em 0 0em 0;
  padding: 0 0 0 20px;
  overflow: hidden;
  line-height: 150%;
}
ul li,
ol li {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  line-height: 1.5em;
}
ul + ul {
  margin-top: 0em !important;
  margin-bottom: 0em !important;
}
figure {
  box-sizing: border-box;
  margin: 0em;
}

figure.var-a {
  display: inline-block;
  margin: 1em -1em 1em -1em;
}

figure.portrait {
  display: table;
}

figure.var-b {
  margin: 1em 0em 1em 0em;
}
figure.var-c {
  width: 50%;
}
figure.var-d {
  float: left;
  width: 50%;
  margin-right: 20px;
  margin-top: 0.5em;
}
figure.var-e {
  float: right;
  width: 50%;
  margin-left: 20px;
}
.doubleimage {
  overflow: auto;
  margin: 0em 0em 0em 0em;
}
figure.var-e1 {
  float: left;
  width: 49%;
}
figure.var-f1 {
  float: right;
  width: 49%;
}
figure.var-g {
  float: left;
  width: 30%;
  padding-right: 20px;
  margin-top: 8px;
}
figure.var-x {
  margin: 1em 0em 1em 0em;
}

figure.size100 {
  width: 100%;
  float: none;
}
figure.size80 {
  width: 80%;
  float: none;
}
figure.size85 {
  width: 85%;
  float: none;
}
figure.size75 {
  width: 75%;
  float: none;
}
figure.size70 {
  width: 70%;
  float: none;
}
figure.size60 {
  width: 60%;
}
figure.size65 {
  width: 65%;
}
figure.size55 {
  width: 55%;
}
figure.size50 {
  width: 50%;
}
figure.size45 {
  width: 45%;
}
figure.size40 {
  width: 40%;
}
figure.size30 {
  width: 30%;
}
figure.size35 {
  width: 35%;
}
figure.size20 {
  width: 20%;
}
figure.size15 {
  width: 15%;
}
figure.size10 {
  width: 10%;
}

figcaption {
  font-size: 0.88em;
  padding: 0.4em 1em 1em 0em;
  margin-top: 0.5em;
  line-height: 1.5em;
}
.figcaption {
  font-family: "DVSans";
  font-size: 0.88em;
  padding: 0.4em 1em 1em 0em;
  margin-top: 0.5em;
  line-height: 1.5em;
}

figure.var-a img {
  width: 100%;
  max-width: none;
}
figure.var-b img {
  max-height: 38em;
}

figure.portrait img {
  display: table-column;
}

figure.portrait figcaption {
  display: table-caption;
  caption-side: bottom;
  padding-top: 1em;
}

img {
  max-width: 100%;
  max-height: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td img {
  width: 100%;
}

td {
  vertical-align: top;
  padding: 0.4em;
  line-height: 150%;
}
th {
  text-align: left;
}

.chapter2 .assessment {
  background-color: #f1f1f1;
  padding: 1em;
}
.table {
  overflow: auto;
  max-height: none;
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
  line-height: 150%;
}
.table1 {
  overflow: auto;
  max-height: none;
  margin-top: 0em !important;
  margin-bottom: 0em !important;
}
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 80%;
}
sub {
  top: 0.4em;
}

p.blank {
  margin-top: 1em;
  margin-bottom: 0em;
}
p.unindented {
  margin: 0 0 0 0em;
}
blockquote {
  font-size: 0.88em;
  margin: 1em 0em 1em 1em;
}
blockquote span {
  font-size: 0.88em;
}

blockquote p.right {
  text-align: right;
  margin-top: 0;
}
.right {
  text-align: right;
}
.top {
  padding-top: 1em;
}
.sans {
  font-family: "DVSans";
  font-size: 0.88em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.sans1 {
  font-family: "DVSans";
  font-size: 0.88em;
  margin-left: 0em;
  margin-top: 1em;
  margin-bottom: 1em;
}

section.fm1 {
  background-color: white;
  -webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  border-top: 2px solid #c6d1d2;
  margin: 0em 0em 0em 0em;
  padding: 1em 2em 2em 2em;
}
.ch_title h1 {
  font-size: 3em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  margin-left: 0em;
  color: #5b446f;
  text-align: center;
}
.subtitle {
  font-family: "DVSans";
  font-size: 0.83em;
  margin: 2.5em 0em 0.5em 0em;
  font-weight: normal;
  text-align: center;
  color: #5b446f;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

div.logo::before {
  content: url("blob:https://les.unibok.no/503bfabb-22ea-4e5a-bf04-59c4177613c1");
  display: block;
  max-width: 60%;
  margin: 2em auto 2em auto;
}

.author {
  font-family: "DVSans";
  font-size: 0.9em;
  margin: 0em 0em 3em 0em;
  text-transform: uppercase;
  text-align: center;
  color: #5b446f;
  letter-spacing: 0.1em;
}
.publisher {
  font-family: "DVSerif";
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  padding-top: 12em;
  margin: 0em 0em 3em 0em;
  text-align: center;
  text-transform: uppercase;
}
.ch_title h2 {
  font-family: "DVSans";
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0em;
}

.fm1 h1 {
  font-family: "DVSans";
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.2em;
}
.fm1 h2 {
  font-family: "DVSans";
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.fm1 ol ul li {
  list-style: disc;
  margin-top: 0em !important;
  margin-bottom: 0em !important;
}

.copy {
  margin: 0 !important;
  text-indent: 0;
  font-size: 0.88em;
}
.copy_1 {
  margin: 1em 0 0 0 !important;
  text-indent: 0;
  font-size: 0.88em;
}

.uppercase {
  text-transform: uppercase;
}
.auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.chapter h1 {
  font-family: "DVSerif";
  font-size: 2.5em;
  font-weight: bold;
  margin: 1em 0 1.3em 0em;
  color: #a6476e;
  text-align: center;
}

span.chapno {
  font-family: "DVSans";
  font-size: 50%;
  letter-spacing: 0.2em;
  font-weight: normal;
  margin-bottom: 0.25em;
  color: #a6476e;
  text-align: center;
  display: block;
  text-transform: uppercase;
}

.chapter h1.sub {
  font-family: "DVSans";
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0 2em 0em;
  color: #a6476e;
  text-align: center;
  text-transform: none;
}

.level2 h2 {
  font-family: "DVSans";
  font-size: 1.7em;
  margin: 1.5em 0em 1em 0em;
}
.level3 h3 {
  font-family: "DVSans";
  font-size: 1.3em;
  margin: 1.5em 0em 0.3em 0em;
}
.level3 h4 {
  font-family: "DVSans";
  font-size: 1em;
  margin: 1.5em 0em 0.3em 0em;
}

div.dette {
  font-family: "DVSans";
  font-size: 0.88em;
  margin-bottom: 5em;
  margin-top: 5em;
  color: #694e80;
  max-width: 80%;
}
.dette h4 {
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-top: 2em;
  letter-spacing: 0.1em;

  text-transform: uppercase;
}

.dette ul li {
  margin: 0;
}

div.filosofisk {
  font-family: "DVSans";
  font-size: 0.88em;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 2px solid #a6476e;
  padding: 1.2em;
}
.filosofisk h4 {
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-top: 0em;
  letter-spacing: 0.1em;

  text-transform: uppercase;
}
.filosofisk ol {
  list-style: none;
  margin: 1em 0 0em 0em !important;
  padding: 0em 0 0em 2.5em !important;
}
.filosofisk ol li {
  padding: 0em 0 0em 0em !important;
}
.filosofisk ol li .no {
  float: left;
  margin-left: -2.2em !important;
  margin-right: 1em;
  color: #444;
  font-weight: normal;
}
.filosofisk ol ul {
  list-style: disc;
}

blockquote.borderleft {
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-top: 2em;
  margin-right: 4em;
  margin-left: 0;
  border-left: 2px solid #694e80;
  padding-left: 1em;
  color: #694e80;
}
blockquote.borderleft p.source {
  font-size: 0.7em;
  margin-top: 0.3em;
  color: #a6476e;
}

.tenkeover {
  font-family: "DVSans";
  font-size: 0.88em;
  margin-bottom: 2em;
  margin-top: 2em;
}
.tenkeover h4 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: #a6476e;
  font-weight: normal;
}
.tenkeover ol {
  list-style: none;
  margin: 0em 0 0em 0em !important;
  padding: 0em 0 0em 3.5em !important;
  border-left: 2px solid #a6476e;
}
.tenkeover ol li {
  padding: 0em 0 0em 0em !important;
  margin: 0em 0 0.8em 0em !important;
}
.no {
  float: left;
  margin-left: -2.2em !important;
  margin-right: 1em;
  color: #a6476e;
  font-weight: bold;
}
.tenkeover ul {
  padding: 0em 0 0em 2.2em !important;
  border-left: 1px solid #a6476e;
}
.tenkeover ul > li::marker {
  color: #a6476e;
}

.etter {
  font-family: "DVSans";
  font-size: 0.88em;
  margin-bottom: 1em;
  margin-top: 2em;
  color: #694e80;
}

.etter h4 {
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-top: 2em;
  letter-spacing: 0.1em;

  text-transform: uppercase;
}

.etter ul li {
  margin: 0;
}

.kilder {
  margin-bottom: 1em;
  margin-top: 1em;
}
.kilder p {
  margin: 0.1em 0 0 1.5em;
  text-indent: -1.5em;
}

.kildetekst {
  font-size: 0.9em;
  margin-bottom: 1em;
  margin-top: 2em;
  padding: 1em 1em 1em 1em;
  background-color: #f8f0f3;
}

.kildetekst h4 {
  font-family: "DVSerif";
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  letter-spacing: 0.1em;

  text-transform: uppercase;
}

.border_black {
  margin-bottom: 1em;
  margin-top: 1.5em;
  border-left: 2px solid #694e80;
  padding-left: 1em;
}
.border_black span {
  font-size: 0.88em;
}
.border_black ol {
  list-style: none;
  margin: 0em 0 0em 0em !important;
  padding: 0em 0 0em 2em !important;
}
.border_black ol li {
  padding: 0em 0 0em 0em !important;
  margin: 0em 0 0.8em 0em !important;
}
.border_black ol li .no {
  float: left;
  margin-left: -2.2em !important;
  margin-right: 1em;
  color: #444;
  font-weight: normal;
}
.border_black ol.dot {
  list-style: decimal;
  padding: 0em 0 0em 1.5em !important;
}

.border_red {
  margin-bottom: 1em;
  margin-top: 2em;
}
.border_red ol {
  font-family: "DVSans";
  list-style: none;
  margin: 0em 0 0em 0em !important;
  padding: 0em 0 0em 3.5em !important;
  border-left: 2px solid #a6476e;
}
.border_red ol li {
  padding: 0em 0 0em 0em !important;
  margin: 0em 0 0em 0em !important;
}
.border_red ol li .no {
  float: left;
  margin-left: -2.2em !important;
  margin-right: 1em;
  color: #a6476e;
  font-weight: bold;
}

section.backmatter {
  background-color: white;
  -webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  border-top: 2px solid #c6d1d2;
  margin: 0em 0em 0em 0em;
  padding: 1em 4em 4em 4em;
}
.backmatter h1 {
  font-family: "DVSans";
  font-size: 1.7em;
  margin: 1em 0em 1em 0em;
}
.backmatter h4 {
  font-family: "DVSerif";
  font-size: 1em;
  margin: 2em 0em 1em 0em;
  text-transform: uppercase;
}
.backmatter p {
  margin: 0em 0em 0em 0em;
}
.backmatter2 h1 {
  font-family: "DVSans";
  font-size: 1.7em;
  margin: 1em 0em 1em 0em;
}
.backmatter2 h2 {
  font-family: "DVSerif";
  font-size: 1em;
  margin: 1.2em 0em 0em 0em;
  text-transform: uppercase;
}
.backmatter2 p {
  margin: 0em 0em 0em 1em;
  text-indent: -1em;
}

.warning {
  font-size: 0.8em;
  font-family: monospace;
  margin: 0.5em 0.5em -1.5em 0.5em;
  display: none;
}

math,
math * {
  text-indent: 0 !important;
}
.underline {
  padding: 0em;
  margin: 0em;
  text-decoration: underline;
  border-bottom: 3px double #000;
}
math {
  font-family: "DVSans";
  font-size: 1em;
}

@media all and (max-width: 720px) {
  #content {
    padding: 0.7em 0.7em;
  }
}
@media all and (max-width: 670px) {
  figure.var-c,
  figure.var-d,
  figure.var-e,
  figure.var-g {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  figure.var-c,
  figure.var-d,
  figure.var-e,
  figure.var-g img {
    max-width: 100%;
    max-height: 25em;
    display: table;
  }
  .warning {
    display: block;
  }

  figure.var-e1 {
    width: 100%;
  }
  figure.var-f1 {
    width: 100%;
  }
}

button.next-chapter {
  border: none;
  padding: 16px 32px;
  font-size: 32px;
  position: fixed;
  top: 0;
  right: 0;
}

button.previous-chapter {
  border: none;
  padding: 16px 32px;
  font-size: 32px;
  position: fixed;
  top: 0;
  left: 0;
}
