
/* ===== Loading file: Aschehoug.css ===== */

/* CSS for alle bøker ja */

@font-face {
	font-family: "ascSerif";
	src: url("fonts/ascSerif.ttf");
}
@font-face {
	font-family: "ascSerif";
	src: url("fonts/ascSerif-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "ascSerif";
	src: url("fonts/ascSerif-Italic.ttf");
	font-style: italic;
}
@font-face {
	font-family: "ascSerif";
	src: url("fonts/ascSerif-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "ascSans";
	src: url("fonts/ascSans.ttf");
}
@font-face {
	font-family: "ascSans";
	src: url("fonts/ascSans-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "ascSans";
	src: url("fonts/ascSans-Italic.ttf");
	font-style: italic;
}
@font-face {
	font-family: "ascSans";
	src: url("fonts/ascSans-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}


/* Reset */

#content {
	max-width: 40em;
	font-size: 100%;
}

#content {
	margin: 0px auto;
	padding: 10px 55px;
	font-family: 'ascSerif', Serif;
	color: #444;
}

#content a.foot {
	content: '#';
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
	text-decoration: none;
}

#content table {
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
}

#content ol.A { list-style: upper-alpha; }
#content ol.a { list-style: lower-alpha; }

#content math {
	font-family: 'ascSans', Sans-serif;
	font-size: 100%;
	margin: 0 0 1ex 0;
}

#content sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
	font-size: 80%;
}
#content sub { top: 0.4em; }
#content em {
	font-weight: inherit;
	font-style: normal;
	text-decoration: none;
}
#content em.strong { font-weight: bold; }
#content em.italic { font-style: italic; }
#content em.underline { text-decoration: underline; }

#content em.gjennomstrek { text-decoration: line-through; }

#content h1 {
    font-size: 2em;
}
#content h2 {
    font-size: 1.625em;
	margin-bottom: 0.5em;
}
#content h3 { 
    font-size: 1.25em;
    margin: 1.3em 0 0.5em 0; 
}
#content h4 {
    font-style: italic;
    margin: 1.3em 0 0.2em 0; 
}

#content p {
	margin: 0;
	line-height: 150%;
}
#content p + p {
	margin: 1em 0 0 0;
	text-indent: 0;
}
#content p + figure + p { margin: 1em 0 0 0; }
#content math,
#content math * { text-indent: 0 !important; } /* styling for bug in safari for windows */
#content p + p math { margin-top: .5ex; }
#content p.unindented { margin: 0; }
#content p.blank { margin-top: 1em; text-indent: 0; }
#content table p { margin: 0; }
#content table p + p { margin-top: 1em; }
#content ul { margin-top: 0; }
#content h3 + p { margin-top: 0; }

#content p.left { text-align: left; }
#content p.right { text-align: right; }
#content p.center { text-align: center; }
#content p.justify { text-align: justify; }

#content .page-normal { display: none; }

#content .poem { margin: 1em 0; }
#content .poem h1 {
	font-size: 1.5em;
	margin: 1ex 0;
}
#content .poem .verse { margin-bottom: 1em; }
#content .poem p { margin:0; text-indent: 0; }
#content .poem .origin { font-size: 80%; }

#content ul,
#content ol {
	margin: 0.4em 0 1em 0;
	padding: 0 0 0 20px;
}
#content li {
	margin-bottom: 0.4em;
	margin-left: 0.4em;
}

#content li ol, #content li ul {
	margin-top: 0.4em;
}

#content ul.free {
	list-style: none;
	margin-left: 0;
	margin-bottom: 1em;
	padding: 0;
}
#content ul.free li { margin: 0; }

#content .firstname:after,
#content.lastname:after { content: ' '; }

#content section.sub-2 { margin-top: 3em; padding-top: 2em; clear: both; }
#content section.sub-3 { margin-top: 2em; clear: both; }

#content figure {
    box-sizing: border-box;
	margin: 1em 0;
}
#content figure img { max-width: 100%; }
#content figure.var-a { margin: 0 -55px 2em -55px; }
#content figure.var-b { width: 100%; }
#content figure.var-c {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
#content figure.var-d {
	float: left;
	width: 50%;
	padding-right: 20px;
}
#content figure.var-e {
	float: right;
	width: 50%;
	padding-left: 20px;
}
#content figure.var-f {
	width: 25%;
	float: left;
	margin-right: 20px;
}
#content figure.var-g {
	width: 25%;
	float: right;
	margin-left: 20px;
}
#content figure.var-h {
	width: 12.5%;
	float: left;
	margin-right: 20px;
}
#content figure.var-i {
	width: 12.5%;
	float: right;
	margin-left: 20px;
}
#content figure.var-j {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
#content figure.var-k {
	width: 25%;
	margin-left: 0;
	margin-right: auto;
}
#content figure.var-l {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}
#content figure.var-m {
	width: 50%;
	margin-left: 0;
	margin-right: auto;
}
#content figure.var-n {
	width: 12.5%;
	margin-left: 0;
	margin-right: auto;
}
#content figure td figure { margin: 0; }
#content figure video { max-width: 100%; }
#content figure h1,
#content figure h3,
#content figure h6 {
	margin: 0 0 1em 0;
	font-size: 80%;
	font-weight: bold;
}
#content figure figcaption,
#content .figcaption  {
	font-family: 'ascSans';
	font-size: 80%;
	margin-top: 0.2em;
}
#content figure .origin {
	/*font-size: 80%;*/
	color: #737373;
}
#content figure figcaption p {
	margin: 0;
	text-indent: 0;
	font-style: italic;
}

#content figure figcaption .italic {
	font-style: normal;
}

#content figure.table { overflow-x: auto; display: block; padding-bottom: .5em; margin-top: 1em; margin-bottom: 1em; }
#content table .left { text-align: left; }
#content table .center { text-align: center; }
#content table .right { text-align: right; }
#content table .top { vertical-align: top; }
#content table .middle { vertical-align: middle; }
#content table .bottom { vertical-align: bottom; }
#content table img { vertical-align: top; }
#content table th { border: 1px #333 solid; padding: 0.5em; }
#content table td { border: 1px #333 solid; padding: 0.5em; vertical-align: top; }
#content table .over { border-top: 1px #000 solid; }
#content table .under { border-bottom: 1px #000 solid; }
#content table .overunder { border-top: 1px #000 solid; border-bottom: 1px #000 solid; }

#content figure table ul,
#content figure table ol {
    margin: 0 0 0 -9px;
	line-height: 1.3;
}

#content figure table ul li p,
#content figure table ol li p {
	line-height: 1.3;
}

#content dt { font-weight: bold; }
#content dd {	margin: 0 0 1em 0; }

#content math mi { margin-left: .5ex; }

#content .box {
    background-color: #E2E3E3;
    margin: 1em 0;
	padding: 1em;
}
#content .box > :first-child {
	margin-top: 0;
}

#content .component, #content .assignment {
	background-color: #e9e2db;
	margin: 2em -55px;
	padding: 1em 55px;
}

#content .clear {
	clear: both;
}

#content .clear-listitem > li {
	clear: both;
}

#content .fullheight {
	overflow-y: auto;
}

#content .hidden {
	display: none;
}

#content p.over, 
#content .box.over,
#content .box.var-a.over,
#content .box.var-b.over,
#content .box.var-c.over,
#content .box.var-d.over,
#content .box.var-e.over,
#content .box.var-f.over,
#content .box.var-g.over,
#content .box.var-h.over,
#content .box.var-i.over,
#content .box.var-j.over,
#content .component.over,
#content .component.var-a.over,
#content .component.var-b.over,
#content .component.var-c.over,
#content .component.var-d.over,
#content .component.var-f.over,
#content .example.var-a.over,
#content .example.var-b.over,
#content .example.var-c.over,
#content .example.var-d.over,
#content .example.var-e.over,
#content .poem h1.over,
#content .aside.over,
#content .aside.var-a.over,
#content .assignment.var-a ol li p.over,
#content .aside.var-d.over,
#content figure.over,
#content figure.var-a.over,
#content figure.var-b.over,
#content figure.var-c.over,
#content figure.var-d.over,
#content figure.var-e.over,
#content figure.var-f.over,
#content figure.var-m.over,
#content figure.var-j.over,
#content .assignment.over,
#content .assignment.var-a.over,
#content .assignment.var-b.over,
#content .assignment.var-c.over,
#content .assignment.var-a p.over,
#content .assignment.var-b p.over,
#content .sub-3.over,
#content .sub-4.over,
#content .chapter h3.over,
#content .chapter h4.over, 
#content .assignment p.over {
	margin-top: 3em;
}

#content p.under, 
#content .box.under,
#content .box.var-a.under,
#content .box.var-b.under,
#content .box.var-c.under,
#content .box.var-d.under,
#content .box.var-e.under,
#content .box.var-f.under,
#content .box.var-g.under,
#content .box.var-h.under,
#content .box.var-i.under,
#content .box.var-j.under,
#content .box.var-k.under,
#content .box.var-l.under,
#content .component.under,
#content .component.var-a.under,
#content .component.var-b.under,
#content .component.var-c.under,
#content .component.var-d.under,
#content .component.var-f.under,
#content .aside.under,
#content .example.under,
#content figure.under,
#content figure.var-a.under,
#content figure.var-b.under,
#content figure.var-c.under,
#content figure.var-d.under,
#content figure.var-e.under,
#content figure.var-f.under,
#content figure.var-g.under,
#content figure.var-h.under,
#content figure.var-i.under,
#content figure.var-j.under,
#content figure.var-k.under,
#content figure.var-l.under,
#content figure.var-m.under,
#content .assignment.under,
#content .assignment.var-a.under,
#content .chapter .assignment.var-a.under,
#content .assignment.var-b.under,
#content .assignment.var-c.under,
#content .assignment p.under{
	margin-bottom: 3em;
}

#content p.space_o, 
#content .box.space_o,
#content .component.space_o,
#content .example.space_o,
#content .figure.space_o,
#content figure.var-a.space_o,
#content figure.var-b.space_o,
#content figure.var-c.space_o,
#content figure.var-d.space_o,
#content figure.var-e.space_o,
#content figure.var-g.space_o,
#content figure.var-h.space_o,
#content figure.var-i.space_o,
#content figure.var-j.space_o,
#content figure.var-k.space_o,
#content figure.var-m.space_o,
#content table.var-a p.space_o,
#content .chapter h3.space_o,
#content .chapter h4.space_o, 
#content .assignment.var-a ol li p.space_o,
#content .assignment.space_o,
#content .assignment p.space_o{
	margin-top: 1.5em;
}

#content p.space_u, 
#content .box.space_u,
#content .box.var-j.space_u,
#content .component.space_u,
#content .example.space_u,
#content .figure.space_u,
#content figure.var-a.space_u,
#content figure.var-b.space_u,
#content figure.var-c.space_u,
#content figure.var-d.space_u,
#content figure.var-e.space_u,
#content figure.var-g.space_u,
#content figure.var-h.space_u,
#content figure.var-i.space_u,
#content figure.var-j.space_u,
#content figure.var-k.space_u,
#content figure.var-l.space_u,
#content figure.var-m.space_u,
#content figure.var-n.space_u,
#content .sub-3 .alt-2 p.space_u,
#content section.sub-2 h2.space_u,
#content .assignment.space_u,
#content .assignment p.space_u,
#content .assignment.var-a p.space_u,
#content .assignment.var-b p.space_u{
	margin-bottom: 1.5em;
}

#content p.less_space_o,
#content figure.var-b.less_space_o,
#content figure.var-d.less_space_o,
#content figure.var-e.less_space_o,
#content figure.var-g.less_space_o{
	margin-top: -1em;
}
#content figure.var-e.less_space_o2{
	margin-top: -4em;
}
#content p.less_space_u,
#content figure.var-b.less_space_u,
#content figure.var-c.less_space_u,
#content figure.var-e.less_space_u,
#content figure.var-j.less_space_u,
#content figure.var-k.less_space_u,
#content figure.var-m.less_space_o{
	margin-bottom: -1em;
}

#content figure.var-b.w60 {width: 60%}
#content figure.var-b.w65 {width: 65%}
#content figure.var-b.w70 {width: 70%}
#content figure.var-b.w80 {width: 80%}
#content figure.var-b.w85 {width: 85%}
#content figure.var-b.w90 {width: 90%}
#content figure.var-b.w95 {width: 95%}
#content figure.var-c.w35 {width: 35%}
#content figure.var-c.w40 {width: 40%}
#content figure.var-d.w45 {width: 45%}
#content figure.var-d.w60 {width: 60%}
#content figure.var-d.w70 {width: 70%}
#content figure.var-e.w30 {width: 30%}
#content figure.var-e.w35 {width: 35%}
#content figure.var-e.w40 {width: 40%}
#content figure.var-e.w45 {width: 45%}
#content figure.var-e.w60 {width: 60%}
#content figure.var-f.w20 {width: 20%}
#content figure.var-g.w15 {width: 15%}
#content figure.var-g.w20 {width: 20%}
#content figure.var-g.w30 {width: 30%}
#content figure.var-i.w8 {width: 8%}
#content figure.var-j.w65 {width: 65%}
#content figure.var-j.w85 {width: 85%}
#content figure.var-k.w20 {width: 20%}
#content figure.var-k.w17 {width: 17%}
#content figure.var-l.w20 {width: 20%}
#content figure.var-m.w30 {width: 30%}
#content figure.var-m.w35 {width: 35%}
#content figure.var-m.w40 {width: 40%}
#content figure.var-m.w60 {width: 60%}


#content figure.simple{
	margin-top: -0.6em;
}

/* this could be used for ordered lists with double digits (1.1, 1.2 etc.)
ol.dd ol {
  list-style-type:upper-alpha;
  position:relative;
}

ol.dd { 
    position:relative;
    counter-increment: lists;
    counter-reset: items;
    list-style-type: none;
}

ol.dd > li::before {
    content: counters(lists, "", decimal) "." counters(items, "", decimal) " ";
    counter-increment: items;
    position:absolute;
    left: 0;
}
*/

@media all and (max-width: 600px){
	html {
		box-sizing: border-box;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}
	
	#content {
		padding-left: 0;
		padding-right: 0;
	}
	
	#content figure.var-a,
	#content figure.var-c,
	#content figure.var-d,
	#content figure.var-e,
	#content figure.var-f,
	#content figure.var-g,
	#content figure.var-h,
	#content figure.var-i,
	#content figure.var-j,
	#content figure.var-k,
	#content figure.var-l{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	
	#content .component, #content .assignment, #content .box {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}
	
	#content blockquote {
		margin-left: 1em;
		margin-right: 1em;
	}
}




/* ===== Loading file: Kjemi 1 nb.css ===== */

/* ===== Loading file: Kjemi 1 nb.css ===== */

/*Book Specific Kjemi 1*/
#content section.sub-2 {
  margin-top: 0em;
  padding-top: 0em;
  clear: both;
}
#content section.sub-3 {
  margin-top: 0em;
  clear: right;
}
#content section.sub-3.clear-left {
  clear: left;
}
#content {
  font-family: "ascSans";
}

/* CLASSES */
#content .ikon {
  vertical-align: middle;
}
#content .chapter {
  margin-bottom: 5rem;
}
#content .bold {
  font-weight: bold !important;
}
#content .clear {
  clear: both;
}
#content .flip {
  transform: scaleX(-1);
}
#content .indented {
  margin-left: 1rem;
}
#content .notop {
  margin-top: 0 !important;
}
#content .nobottom {
  margin-bottom: 0 !important;
}
#content .vert_mid {
  vertical-align: middle;
}
#content .venstrestilt {
  margin-left: 0 !important;
}
#content .imbed {
  padding-bottom: 1.5rem;
}
#content .math_indent {
  text-indent: 1.5rem !important;
}
#content .blank {
  margin-top: 1rem;
}
#content .blank_over {
  margin-top: 1rem !important;
}
#content .blank_under {
  margin-bottom: 1rem !important;
}
#content .blank_over_l {
  margin-top: 1.5rem !important;
}
#content .blank_under_l {
  margin-bottom: 1.5rem !important;
}
#content .blank_vertical {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
#content .sentrert {
  margin-left: auto !important;
  margin-right: auto !important;
}
#content .grid-2 ol {
  display: grid;
  grid-template-columns: 50% 50%;
}

#content .border_top_left img {
  border-radius: 2rem 0 0 0;
}
#content .border_top_right img {
  border-radius: 0 2rem 0 0;
}
#content .border_bottom_left img {
  border-radius: 0 0 0 2rem;
}
#content .border_bottom_right img {
  border-radius: 0 0 2rem 0;
}

/* IKON */
#content .ikon > p img {
  width: auto;
  max-height: 100px;
  padding: 1rem;
}
#content p.ikon70 img {
  width: 70px;
}
#content p.ikon90 img {
  width: 90px;
}
#content p.ikon120 img {
  width: 120px;
}
#content p.ikon140 img {
  width: 140px;
}
#content p.ikon170 img {
  width: 170px;
}
#content p.ikon200 img {
  width: 200px;
}
#content p.ikon230 img {
  width: 230px;
}
#content p.ikon260 img {
  width: 260px;
}
#content p.ikon50 img {
  width: 53px;
}
#content p.ikon45 img {
  width: 45px;
}
#content p.ikon37 img {
  width: 37px;
}
#content p.ikon30 img {
  width: 30px;
}
#content p.ikon51 img {
  width: 50px;
}
#content p.ikon60 img {
  width: 60px;
}
#content p.ikon40 img {
  width: 40px;
}
#content p.ikon25 img {
  width: 25px;
  vertical-align: bottom;
}

/* 1.4.17 */
#content #i9_1524 {
  display: grid;
  gap: 2rem;
}

/* EKSEMPEL 1.2 */
#content #i9_152 {
  font-weight: normal;
}
#content #i9_158 {
  display: flex;
  justify-content: space-between;
}
#content #i9_161 {
  width: 5em;
}
#content #i9_164 {
  width: 10em;
}
#content #i9_167 {
  width: 10em;
}
@media all and (max-width: 600px) {
  #content #i9_161 {
    width: 2.5em;
  }
  #content #i9_164,
  #content #i9_167 {
    width: 5em;
  }
}

/* Periodesystemet */
#content #i9_1202 {
  margin: auto 1em;
}

/* EKSEMPEL 1.3 */
#content .example.var-a ol#i9_318 li::marker {
  font-weight: bold;
}

/* EKSEMPEL 1.8 */
#content #i9_755 figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#content #i9_755 li {
  margin-top: 2rem;
}

/* VIKTIG p.90 */
#content #i9_2408 {
  margin-top: 0;
}

/* EKSEMPEL 2.5 p.93 */
#content #i9_2475 {
  width: 80%;
}
#content #i9_2508 {
  width: 80%;
}
#content #i9_2541 {
  width: 80%;
}
#content #i9_2574 {
  width: 80%;
}

/* EKSEMPEL 2.6 p.93 */
#content #i9_2615 {
  width: 80%;
}
#content #i9_2648 {
  width: 80%;
}
#content #i9_2681 {
  width: 80%;
}
#content #i9_2715 {
  width: 80%;
}

/* EKSEMPEL 2.6 p.93 */
#content #i9_2757 {
  width: 80%;
}
#content #i9_2790 {
  width: 80%;
}

/* REDOREAKSJONER p.99 */
#content #i9_2856 tr:nth-child(n + 1) > td {
  padding-top: 1.5rem;
}
#content #i9_2870 tr:nth-child(n + 1) > td {
  padding-top: 1.5rem;
}
#content #i9_2884 tr:nth-child(n + 1) > td {
  padding-top: 1.5rem;
}

/* EKSEMPEL 2.8 p.101 */
#content #i9_2913 tr:nth-child(n + 1) > td {
  padding-top: 1.5rem;
}

/* SYRE-BASEREAKSJONER p.109 */
#content #i9_3462 {
  margin-left: 6rem;
}

/* SYSTEMER ER DET VI ØNSKER Å STUDERE p.193 */
#content #i9_6623 {
  max-width: 50%;
}
#content #i9_6622 {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  width: 100%;
}

/* SYRER KAN VÆRE ETSENDE */
#content #i9_10633 {
  margin-top: -3rem;
}

/* p.344 */
#content #i9_11026 {
  width: 44%;
}
#content #i9_11031 {
  width: 56%;
  padding: 0;
}

/* 7.2.5 FASIT */
#content #i9_15433 {
  display: grid;
  gap: 2rem;
}

/* EKSEMPEL 2.8 */
#content #i9_2913 {
  overflow: hidden;
}
#content #i9_2914 {
  margin-left: 3rem;
}

/* EKSEMPEL 2.9 */
#content #i9_2970 {
  margin-top: 6rem;
}
#content #i9_2975 li::marker {
  font-style: normal;
}

/* EKSEMPEL 5.1 */
#content #i9_7893 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

/* EKSEMPEL 5.3 */
#content #i9_8265 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

/* 5.1.5 */
#content #i9_8656 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

/* 5.2.3 */
#content #i9_8763 {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* pH p.355 */
#content #i9_11253 {
  background-color: #ffffff;
}
#content #i9_11257 {
  white-space: nowrap;
}
#content #i9_11255 {
  width: 20%;
}
#content #i9_11253 {
  padding-bottom: 3rem;
}

/* Kongevann p.355 */
#content #i9_11263 {
  margin-top: 7rem;
  shape-outside: border-box;
  -webkit-shape-outside: border-box;
}

/* 1.4.17 */
#content #i9_1531 {
  width: 70px;
}

/* INDENTED LISTS */
#content #i9_2322 {
  margin-left: 1.5rem;
} /* s.85 */
#content #i9_2364 {
  margin-left: 1.5rem;
} /* 2.2 KJEMISKE REAKSJONER */
#content #i9_3470 {
  margin-left: 1.5rem;
} /* p.110 */
#content #i9_3554 {
  margin-left: 1.5rem;
} /* p.115 */

/* FORSØK */
#content .forsok section ol {
  margin-left: 1rem;
}
#content .forsok section ul {
  margin-left: 1rem;
}

/* LÆRT OM */
#content .lart_om section p + p {
  margin: 2rem 0 0 0;
}
#content .lart_om section {
  margin-top: 2rem;
}

/* FIGURE */
#content figure {
  margin: 2rem 0;
}

#content figure figcaption p {
  font-style: normal;
  color: #444;
}
#content figure figcaption em.italic {
  font-style: italic;
}
#content figure figcaption,
#content .figcaption {
  margin-top: 1rem;
}

#content figure.var-a {
  margin-bottom: 0em;
}
#content figure.var-j {
  margin: 2em auto;
}
#content figure.var-b {
  margin-top: 2em;
  margin-bottom: 2em;
}
#content figure.var-c {
  margin-bottom: 2em;
}

/* BOX */
#content .box.var-a p {
  line-height: 100%;
}
#content .box.var-a p a {
  margin-left: 0.5em;
}
#content .assignment .box > :first-child {
  margin-top: 0.5em;
}

/* Math */
#content math {
  font-size: 108%;
}
#content math mtable {
  font-size: 100%;
}
#content mfrac mfrac {
  font-size: 1.2em;
}

/*Front Matter*/
#content .titlepage {
  text-align: center;
}
#content .start .booktitle {
  font-size: 3em;
  line-height: 1em;
  font-weight: bold;
  padding: 0.5em 0em 0.3em 0em;
}
#content .start .booktitle .kjemi-1 {
  color: #9b6536;
  padding-right: 14px;
}
#content .titlepage {
  text-align: center;
}
#content .start .subtitle,
#content .start .suptitle{
  line-height: 1.5em;
  font-size: 1.4em;
}
#content .start .author{
  line-height: 1.5em;
}
#content .start .miscellaneous{
  margin-top: 1.5em;
  margin-bottom: -1em;
}
#content .start .author {
  color: #9b6536;
}
#content .start .Aschehoug_U_logo {
  display: inline-block;
  margin-top: 3em;
  margin-left: 3em;
  margin-bottom: 1em;
  text-align: left;
  font-size: 0.9em;
  line-height: 1.2em;
  color: #000;
}
#content .start .Aschehoug_U_logo::before {
  float: left;
  content: "";
  background: url('blob:https://les.unibok.no/982d82c8-bb27-4a18-97ab-980cd20c3b36');
  display: block;
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -46px;
  margin-top: -4px;
}
#content .start .preface h1 {
  font-size: 2.2em;
  line-height: 1.5em;
  margin: 2.5em 0em 0.4em 0em;
  background-color: transparent;
  page-break-before: always;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0.4em;
  display: inherit;
  align-items: inherit;
}
#content .start .introduction h1 {
  font-size: 2.2em;
  line-height: 1.5em;
  margin: 2.5em 0em 0.4em 0em;
  background-color: transparent;
  page-break-before: always;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0.4em;
  display: inherit;
  align-items: inherit;
}

/* Headings */
#content .chapter > h1 {
  font-weight: bold;
  background-color: #9a6332;
  color: #ffffff;
  margin-bottom: 0;
  margin-left: -55px;
  margin-right: -55px;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  line-height: 120%;
  font-family: "ascSans", Sans-serif;
  font-size: 3.5em;
  display: flex;
  align-items: baseline;
  overflow: hidden;
}
#content .chapter h1 .chap-num {
  margin-right: 0.4em;
  text-align: center;
  font-weight: normal;
  padding: 0.1em 0.5em;
}

#content .chapter h2 {
  font-size: 2.5em;
  margin: 2.2em -55px 0.5em 0;
}

#content .chapter h2 .bigger-14 {
  font-weight: normal;
}
#content .chapter h3 {
  font-size: 1.7em;
  margin-top: 3em;
  margin-bottom: 0.6em;
}
#content .chapter .sub-3.sub4 h3 {
  font-size: 1.3em;
  margin-bottom: 0.6em;
}
#content h4 {
  font-size: 1.4em;
  margin-top: 3em;
  margin-bottom: 0.6em;
  font-style: normal;
}

/* chap-9 */
#content .chapter.chap-9 > h1,
#content .chapter.chap-10 > h1,
#content .chapter.chap-11 > h1,
#content .chapter.chap-12 > h1,
#content .chapter.chap-13 > h1 {
  margin-left: 0px;
  margin-right: 0px;
  background-color: transparent;
  color: #444;
}
#content .chapter.chap-13 > h1 {
  margin-bottom: 1.5em;
}
#content .chap-9 .sub-2 > h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 3rem 0em 0.1em 0em;
  font-family: "ascSans", Sans-serif;
}
#content .chap-10 .sub-2 > h2 {
  font-size: 1.3em;
  font-weight: bold;
  color: #167c9b;
  margin: 1.2em 0em 0.1em 0em;
  font-family: "ascSans", Sans-serif;
}
#content .chap-10 p {
  margin: 0;
}
#content .chap-9 .sub-3 > h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 1.2em 0em 0.1em 0em;
  font-family: "ascSans", Sans-serif;
}

/* Boxes */
#content .box.var-a {
  font-size: 1.1em;
  margin: -10px -55px 0em -55px;
  padding: 25px 55px 1.1em 55px;
  background-color: #9a6332;
  color: #ffffff;
}
#content .box.var-a a:-webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
    color: #BEBEBE;
}
#content .box.var-b {
  margin: 4em 0 2em 0;
  padding: 1em 10px 1.2em 20px;
  border: 3px solid #0e7c9c;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #0e7c9c;
  background-color: transparent;
}
#content .box.var-b > h3,
#content .box.var-b > h4,
#content .box.var-b > h5 {
  display: block;
  font-size: 1.1em;
  margin: -2.7em 0 2em -23px;
  color: #0e7c9c;
  font-style: normal;
  font-weight: bold;
}
#content .box.var-c {
  margin: 1.5em 0 1em 0;
  padding: 1em 10px 1em 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #dae5dc;
}
#content .box.var-d {
  margin: 1.5em 0 1em 0;
  padding: 1em 10px 1em 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #deeaf2;
}
#content .box.var-f {
  margin: 1.5em 0 1em 0;
  padding: 1em 10px 1em 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffffff;
}
#content .box.var-g {
  margin: 1.5em 0 1em 0;
  padding: 1em 10px 1em 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #f4e6d9;
}
#content .box.var-g > h4 {
  font-size: 1.1em;
  margin: 0em 0 0em 0px;
  font-style: normal;
  font-weight: bold;
}
#content .box.var-i {
  margin: 1.5em 0 1em 0;
  padding: 1em 10px 1em 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #dae9f1;
}
#content .box.var-j {
  margin: 1.5em 0 1em 0;
  padding: 1em 10px 1em 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffffff;
}
#content .box.var-k {
  margin: 1.5em 0 1em 0;
  padding: 1em 10px 1em 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #e1f1e4;
}

/* objectives */
#content .objectives {
  margin: 4.8em 0 1em 0;
  padding: 1em 10px 1em 20px;
  border: 3px solid #732f4c;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #732f4c;
}
#content .objectives > h1 {
  display: block;
  font-size: 1.4em;
  margin: -2.4em 0 2em -23px;
  color: #732f4c;
  font-style: normal;
  font-weight: bold;
}
#content .objectives .alt-2 h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin: -0.8em 0 0.5em 0;
  color: #444;
}

#content .box.var-b .alt-2 h2,
#content .example.var-a .alt-2 h2,
#content .example.var-b .alt-2 h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
  color: #444;
  line-height: 140%;
  margin-top: 2em;
  margin-bottom: 0.8em;
}
#content .example.var-a .alt-2 h3 {
  font-size: 1.05em;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
  color: #444;
}
#content .objectives ul.circle li {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Example */
#content .example.var-a {
  margin: 4em 0 2em 0;
  padding: 1rem 2rem 1rem 2rem;
  border-top: 3px solid #4d8060;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #dae5dc;
}
#content .example.var-a > h3,
#content .example.var-a > h4,
#content .example.var-a > h5 {
  display: block;
  font-size: 1.1em;
  margin: -2.7em 0 2em -31px;
  color: #4d8060;
  font-style: normal;
  font-weight: bold;
}
#content .chap-9 li::marker,
#content .example.var-a li::marker,
#content .sub-2.oppgaver .assignment.var-c li::marker {
  font-style: italic;
}
#content .example.var-a ol#i9_115,
#content .example.var-a ol#i9_147,
#content .example.var-a ol#i9_491,
#content .example.var-a ol#i9_598,
#content .example.var-a ol#i9_687,
#content .example.var-a ol#i9_750,
#content .example.var-a ol#i9_853,
#content .example.var-a ol#i9_944,
#content .example.var-a ol#i9_1084,
#content .example.var-a ol#i9_1126,
#content .example.var-a ol#i9_3565,
#content .example.var-a ol#i9_3587,
#content .example.var-a ol#i9_4906,
#content .example.var-a ol#i9_4943,
#content .example.var-a ol#i9_5079,
#content .example.var-a ol#i9_5194,
#content .example.var-a ol#i9_6649,
#content .example.var-a ol#i9_8042,
#content .example.var-a ol#i9_8265,
#content .example.var-a ol#i9_9818,
#content .example.var-a ol#i9_10416,
#content .example.var-a ol#i9_10443,
#content .example.var-a ol#i9_10460,
#content .example.var-a ol#i9_10482,
#content .example.var-a ol#i9_10547,
#content .example.var-a ol#i9_10674,
#content .example.var-a ol#i9_10836,
#content .example.var-a ol#i9_10866,
#content .example.var-a ol#i9_10925,
#content .example.var-a ol#i9_10975,
#content .example.var-a ol#i9_12341,
#content .example.var-a ol#i9_12469 {
  font-weight: bold;
  margin-bottom: 1.5em;
  font-size: 1em;
}

#content .example.var-b {
  margin: 4.5em 0 2em 0;
  color: #aa6422;
  padding: 1em 10px 1em 20px;
  border-top: 3px solid #aa6422;
  border-bottom: 3px solid #aa6422;
}
#content .example.var-b > h4,
#content .example.var-b > h5 {
  display: block;
  font-size: 1.1em;
  margin: -3em 0 2em -20px;
  color: #aa6422;
  font-style: normal;
  font-weight: bold;
}

/* Tables */
#content table.var-b,
#content table.var-c,
#content table.var-d,
#content table.var-e,
#content table.var-f {
  font-size: 90%;
}
#content table.var-b thead th.center,
#content table.var-b tbody td.center,
#content table.var-c thead th.center,
#content table.var-c tbody td.center,
#content table.var-c thead th.center,
#content table.var-c tbody td.center,
#content table.var-d thead th.center,
#content table.var-d tbody td.center,
#content table.var-c.center thead th,
#content table.var-c.center tbody td {
  text-align: center;
}

#content table.var-a td {
  border: none;
  padding: 0.2em 0.5em 0.2em 0.5em;
}
#content table.var-b tbody tr:last-child td {
  border-bottom: 0px #bab094 solid;
}
#content table.var-b tbody tr td,
#content table.var-b thead tr th {
  border-top: 0px #bab094 solid;
  border-left: 0px #bab094 solid;
}
#content table.var-b tbody td:last-child,
#content table.var-b thead th:last-child {
  border-right: 0px #bab094 solid;
}
#content table.var-b p {
  margin: 0;
}
#content table.var-b.custom td {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
#content table.var-b.custom :first-child td {
  border-bottom: 1px solid #444;
}
#content .chapter table.var-c th,
#content .chapter table.var-c td {
  text-align: left;
  padding: 0.5em 0.5em;
  border-top: 0px #bab094 solid;
  border-right: 3px #bab094 solid;
  border-bottom: 0px #bab094 solid;
  border-left: 3px #bab094 solid;
  font-size: 90%;
}
#content .chapter table.var-c th {
  background-color: #bab094;
  color: #000;
}
#content table.var-c tbody tr:nth-of-type(even) {
  background-color: #eae6de;
}
#content table.var-c tbody tr:last-child td {
  border-bottom: 3px #bab094 solid;
}
#content .chapter table.var-d th {
  background-color: #8ed2e6;
  font-weight: normal;
}
#content .chapter table.var-d.frow_header tbody tr td:first-child {
  background-color: #8ed2e6;
}

#content p.source {
  font-size: 80%;
  margin-top: 0em;
  font-style: normal;
}
#content table + p.source {
  margin-top: 0.5em;
}
#content figure figcaption p.tab-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

/* Lists */
#content ul.circle {
  list-style: none;
  text-indent: -15px;
  margin-left: 15px;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  padding: 0;
}
ul.circle > li p:before {
  content: "\2013";
  padding-right: 7px;
  text-indent: -5px;
}
#content ol.a#i9_158 li img,
#content ol.a#i9_1524 li img,
#content ol.a#i9_7893 li img,
#content ol.a#i9_8042 li img,
#content ol.a#i9_8265 li img,
#content ol.a#i9_8594 li img,
#content ol.a#i9_8656 li img,
#content ol.a#i9_8841 li img,
#content ol.a#i9_8941 li img,
#content ol.a#i9_8959 li img,
#content ol.a#i9_9006 li img,
#content ol.a#i9_9019 li img,
#content ol.a#i9_9106 li img,
#content ol.a#i9_13285 li img,
#content ol.a#i9_14483 li img,
#content ol.a#i9_14747 li img,
#content ol.a#i9_14774 li img,
#content ol.a#i9_14802 li img,
#content ol.a#i9_14816 li img,
#content ol.a#i9_14850 li img,
#content ol.a#i9_14966 li img,
#content ol.a#i9_14980 li img,
#content ol.a#i9_15038 li img,
#content ol.a#i9_15053 li img,
#content ol.a#i9_15079 li img,
#content ol.a#i9_15158 li img,
#content ol.a#i9_15869 li img,
#content .oppgaver ol li img {
  vertical-align: top;
}

/* Image Sizing */
#content figure.w35 {
  width: 35px;
}
#content figure.w80 {
  width: 80px;
}
#content .w100 img {
  width: 100px;
}
#content .w120 img {
  width: 120px;
}
#content .w130 img {
  width: 130px;
}
#content .w160 img {
  width: 160px;
}
#content .w230 img {
  width: 230px;
}
#content figure.w15 {
  width: 17%;
}
#content figure.var-c.w30 {
  width: 30%;
}
#content figure.var-c.w25 {
  width: 25%;
}
#content figure.var-c.w35 {
  width: 35%;
}
#content figure.var-c.w45 {
  width: 45%;
}
#content figure.var-c.w40 {
  width: 40%;
}
#content figure.var-c.w60 {
  width: 60%;
}
#content figure.var-c.w85 {
  width: 85%;
}
#content figure.var-m.w45 {
  width: 45%;
}
#content figure.var-m.w40 {
  width: 40%;
}
#content figure.var-m.w70 {
  width: 70%;
}
#content figure.var-d.w37 {
  width: 40.75%;
  padding: 0;
}
#content figure#i9_2378 {
  width: 59.25%;
}
#content figure.var-d.w35 {
  width: 35%;
}
#content figure.var-j.w60 {
  width: 60%;
}
#content figure.var-j.w70 {
  width: 70%;
}
#content figure.var-j.w55 {
  width: 55%;
}
#content figure.var-i.w10 {
  width: 10%;
}
#content figure.var-k.w10 {
  width: 10%;
}
#content figure.var-k.w11 {
  width: 11%;
}
#content figure.var-k.w12 {
  width: 12%;
}
#content figure.var-k.w13 {
  width: 13%;
}
#content figure.var-k.w14 {
  width: 14%;
}
#content figure.var-k.w15 {
  width: 15%;
}
#content figure.var-k.w16 {
  width: 16%;
}
#content figure.var-k.w17 {
  width: 17%;
}
#content figure.var-k.w18 {
  width: 18%;
}
#content figure.var-k.w19 {
  width: 19%;
}
#content figure.var-k.w20 {
  width: 20%;
}
#content figure.var-k.w21 {
  width: 21%;
}
#content figure.var-k.w22 {
  width: 22%;
}
#content figure.var-k.w23 {
  width: 23%;
}
#content figure.var-k.w24 {
  width: 24%;
}
#content figure.var-k.w65 {
  width: 6.5%;
}
#content figure.var-k.w8 {
  width: 8%;
}
#content figure.var-k.w9 {
  width: 9%;
}
#content figure.var-l.w20 {
  width: 20%;
}
#content figure.var-l.w18 {
  width: 18%;
}
#content figure.var-l.w7 {
  width: 7%;
}
#content figure.var-l.w11 {
  width: 11%;
}
#content figure.var-l.w15 {
  width: 15%;
}

#content table.var-c.w40 tbody td img {
  width: 75px;
}

#content table.var-a tr.vline td {
  border-top: 1px #444 solid;
}

/* Oppgaver */
#content .sub-2.lart_om,
#content .sub-2.kjemisk,
#content .sub-2.oppgaver,
#content .sub-2.forsok {
  margin: 3.5em -55px 0em -55px;
  padding: 1em 55px 0em 55px;
  background-color: #f1e7ed;
}
#content .sub-2.kjemisk {
  background-color: #e2dbd0;
}
/* #content .sub-2.kjemisk .assignment{
    background-color: unset;
} */
#content .sub-2.oppgaver {
  background-color: #e9f1f6;
}
#content .sub-2.forsok {
  background-color: #f8f0e7;
}
#content .sub-2.lart_om > h2,
#content .sub-2.kjemisk > h2,
#content .sub-2.oppgaver > h2,
#content .sub-2.forsok > h2 {
  margin: 1em 0em 2em 0em;
  font-size: 1.4em;
  font-style: normal;
  color: #732f4c;
}

#content .sub-2.oppgaver > h2 {
  color: #0d7291;
}
#content .sub-2.forsok > h2 {
  color: #91551d;
}
#content .assignment.var-a,
#content .assignment.var-b,
#content .assignment.var-c,
#content .assignment.var-d {
  margin: 0em -55px 0em -55px;
  padding: 0px 55px 2em 55px;
  background-color: #f1e7ed;
}
#content .assignment.var-b {
  background-color: #e2dbd0;
}
#content .assignment.var-c {
  background-color: #e9f1f6;
}
#content .assignment.var-d {
  background-color: #f8f0e7;
}
#content .assignment.var-a > .alt-2 h2 {
  margin: 1em 0 0.3em 0px;
  font-size: 1.1em;
  font-style: normal;
  font-weight: normal;
}
#content .assignment.var-c > .alt-2 h2 {
  margin: 1.5em 0 0.3em 0px;
  font-size: 1.1em;
  font-style: normal;
  font-weight: bold;
}
#content .sub-2.oppgaver .assignment.var-c .alt-3 h3 {
  margin: 1.5em 0 0.3em 0px;
  font-size: 1.1em;
  font-style: normal;
  font-weight: bold;
  color: #0d7291;
}

#content .assignment.var-d > .alt-2 h2 {
  margin: 2.5em 0 0.3em 0px;
  font-size: 1.4em;
  font-style: normal;
  font-weight: bold;
}
#content .sub-2.forsok .assignment.var-d .alt-3 h3 {
  margin: 1.5em 0 0.3em 0px;
  font-size: 1.1em;
  font-style: normal;
  font-weight: bold;
  color: #444;
}
#content .sub-2.forsok .assignment.var-d .alt-4 h4 {
  margin: 1.5em 0 0.3em 0px;
  font-size: 1.1em;
  font-style: normal;
  font-weight: bold;
  color: #444;
}

#content .sub-2.oppgaver .assignment.var-c .alt-2 h2 + .alt-3 h3,
#content .sub-2.forsok .assignment.var-d .alt-3 h3 + .alt-4 h4 {
  margin-top: 0em;
}

/* Pre */
#content .box.var-e {
  font-size: 1.1em;
  margin: 1.5em 0 1.5em 0;
  padding: 0.35rem 1rem 1rem 0;
  background-color: #285876;
  color: #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 21px;
  /* overflow: hidden; */
}
#content .box.var-e.blank {
  margin-top: 3em;
}
#content .box.var-e > h5 {
  display: block;
  font-size: 1.1em;
  margin: -1.7em 0 0.5em 0px;
  color: #0e7c9c;
  font-style: normal;
  font-weight: bold;
}
#content .assignment .box.var-e > :first-child {
  margin-top: 0;
}
#content .box.var-e p em.link_water {
  padding: 0.5em 0.5em 0.5em 0em;
  background-color: #add9f1;
  color: #000;
}
/* #content .box.var-e p:first-of-type em.link_water { padding-top: 3rem; } */
#content .box.var-e p:last-of-type em.link_water {
  padding-bottom: 1.2rem;
}
#content .box.var-e p:last-of-type em.link_water {
  border-bottom-left-radius: 20px;
}

#content .box.var-e p {
  font-size: 100%;
  margin-top: 0;
  font-family: monospace;
  tab-size: 3;
  -moz-tab-size: 3;
  -o-tab-size: 3;
  white-space: pre;
  text-align: left;
  font-weight: bold;
}
#content .box.var-e p em.fresh_blue {
  color: #b7ddf3;
}
#content .box.var-e p em.green {
  color: #dbece0;
}
#content .box.var-e p em.shocking {
  color: #e6bbd0;
}
#content .box.var-e p em.yellow {
  color: #f2d1a7;
}
#content .box.var-e p em.jordy_blue {
  color: #b1dcf1;
}
#content .box.var-e p em.rich_blue {
  color: #bfc7e3;
}
#content .box.var-e p em.rich_blue1 {
  color: #00dde0;
}
#content .box.var-e p em.gamboge {
  color: #cbcba4;
}
#content .box.var-e p em.light_red {
  color: #e1c1c3;
}
#content .box.var-e p em.william {
  color: #d6ecdb;
}

#content .box.var-e#i9_3854 {
  padding-left: 1em;
}
#content .box.var-e#i9_3854 h5 {
  margin-left: -0.9em;
}

/* Extra Styles */
#content .sub-2.forsok .ml4 {
  margin-left: 4em;
}

/* Para Headings */
#content p.heading {
  font-size: 1.05em;
  line-height: 140%;
  font-weight: bold;
  font-style: normal;
  margin: 0em 0em 0.3em 0em;
}

/* Colors */
.gente {
  color: #398600;
}
.apple {
  color: #4e7f39;
}
.atlantis {
  color: #618023;
}
.blue {
  color: #585185;
}
.blush {
  color: #b74e6a;
}
.bunting {
  color: #566fa4;
}
.carrot_orange {
  color: #b65e07;
}
.chetwode_blue {
  color: #616295;
}
.comet {
  color: #595f74;
}
.cosmic {
  color: #6c4f5f;
}
.crocodile {
  color: #716950;
}
.dark_red {
  color: #9e0000;
}
.light_red {
  color: #eb0000;
}
.medium_red {
  color: #ca0000;
}
.dolphin {
  color: #595771;
}
.eggplant {
  color: #a42366;
}
.fern {
  color: #38853d;
}
.fuego {
  color: #6e7a1f;
}
.gamboge {
  color: #916f08;
}
.golden_brown {
  color: #895a15;
}
.governor_bay {
  color: #616295;
}
.go_ben {
  color: #7f7534;
}
.green {
  color: #007e01;
}
.dark_green {
  color: #004d00;
}
.gumbo {
  color: #288080;
}
.hollywood_cerise {
  color: #de127f;
}
.java {
  color: #4f6d6d;
}
.jordy_blue {
  color: #3976c0;
}
.limerick {
  color: #6e792f;
}
.malibu {
  color: #165c92;
}
.mantis {
  color: #557d3f;
}
.medium_turquoise {
  color: #2b827e;
}
.meteor {
  color: #a06a31;
}
.mobster {
  color: #60516b;
}
.monte_carlo {
  color: #4d8075;
}
.olive_green {
  color: #6c7524;
}
.olivine {
  color: #647f2f;
}
.palatinate_purple {
  color: #443c5b;
}
.patina {
  color: #537f67;
}
.peru {
  color: #b15c06;
}
.purple {
  color: #7a529b;
}
.purple2 {
  color: #82368c;
}
.rich_blue {
  color: #565ca4;
}
.saddle {
  color: #665148;
}
.salt_box {
  color: #74737d;
}
.seagreen {
  color: #0b534f;
}
.seagull {
  color: #3f769d;
}
.sepia {
  color: #91533b;
}
.ship_cove {
  color: #5e779c;
}
.shocking {
  color: #9c5495;
}
.silver_tree {
  color: #52814b;
}
.smoke_tree {
  color: #ca4b0c;
}
.studio {
  color: #7a529b;
}
.tyrian_purple {
  color: #850066;
}
.victoria {
  color: #5c4e81;
}
.dark_goldenrod {
  color: #8f6900;
}
.vin_rouge {
  color: #784a52;
}
.violet_blue {
  color: #cc3889;
}
.viridian_green {
  color: #55635f;
}
.wasabi {
  color: #747b32;
}
.wild_willow {
  color: #717b2d;
}
.william {
  color: #587b7e;
}
.xanadu {
  color: #5b6b6b;
}
.loulou {
  color: #5b6b6b;
}
.wine {
  color: #75011a;
}
.fresh_blue {
  color: #007db3;
}
.black {
  color: #444;
}
.dark_pastel_rose {
  color: #732f4c;
}

/* bigger text */
.bigger-14 {
  font-size: 1.4em;
}

/* Small Screen */
@media all and (max-width: 600px) {
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  #content {
    padding-left: 0;
    padding-right: 0;
  }

  #content figure.var-a,
  #content figure.var-c,
  #content figure.var-d,
  #content figure.var-e,
  #content figure.var-f,
  #content figure.var-g,
  #content figure.var-h,
  #content figure.var-i,
  #content figure.var-j,
  #content figure.var-k,
  #content figure.var-l {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #content .component,
  #content .assignment,
  #content .box {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }

  #content blockquote {
    margin-left: 1em;
    margin-right: 1em;
  }
}

button.next-chapter {
  float: right;
  text-align: right;
  border: none;
  padding: 16px 32px;
  font-size: 32px;
  position: fixed;
  top: 0;
  right: 0;
}

button.previous-chapter {
  border: none;
  padding: 16px 32px;
  font-size: 32px;
  position: fixed;
}

