@font-face {
  font-family: "DVSerif";
  src: url("fonts/DVSerif.ttf");
}
@font-face {
  font-family: "DVSerif";
  src: url("fonts/DVSerif-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "DVSerif";
  src: url("fonts/DVSerif-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "DVSerif";
  src: url("fonts/DVSerif-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "DVSans";
  src: url("fonts/DVSans.ttf");
}
@font-face {
  font-family: "DVSans";
  src: url("fonts/DVSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "DVSans";
  src: url("fonts/DVSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "DVSans";
  src: url("fonts/DVSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Droid Serif";
  src: url("fonts/DroidSerif.ttf");
}
@font-face {
  font-family: "Droid Serif";
  src: url("fonts/DroidSerif-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Droid Serif";
  src: url("fonts/DroidSerif-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Droid Serif";
  src: url("fonts/DroidSerif-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Droid Sans";
  src: url("fonts/DroidSans.ttf");
}
@font-face {
  font-family: "Droid Sans";
  src: url("fonts/DroidSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow.ttf");
}
@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Bold.ttf");
  font-weight: bold;
}

body {
  background-color: #cfe5f0;
  margin: 0;
}
a {
  word-wrap: break-word;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
#content {
  max-width: 47em;
  font-size: 100%;
  margin: 0px auto;
  font-family: "Droid Serif", Serif;
  color: #444;
}

.chapter {
  padding: 3em 1em 3em 1em;
}

section.sub-2 {
  margin-bottom: 0em;
  padding: 0em 0em 0em 0em;
}
section.sub-3 {
  margin-top: 1.5em;
  margin-bottom: 0em;
}

h1 {
  font-size: 3.2em;
  margin-top: 1em;
}
h2 {
  font-size: 2em;
  font-family: "Barlow";
  font-weight: bold;
  background-color: #587c8e;
  color: white;
  margin-bottom: 0em;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 0.2em;
}
h3 {
  font-size: 1.7em;
  font-family: "Barlow";
  font-weight: normal;
}
h4 {
  font-family: "Droid Sans";
  font-size: 1.1em;
  margin: 1em 0em 0.5em 0em;
}
p {
  margin: 0;
  line-height: 150%;
}
p + p {
  margin: 1em 0;
  text-indent: 0;
}
aside {
  padding: 1em;
  font-size: 0.8em;
  line-height: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 25px;
  overflow: hidden;
}
ul li,
ol li {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  line-height: 1.5em;
}
figure {
  box-sizing: border-box;
  margin: 0em;
}
figure {
  box-sizing: border-box;
  margin: 0em;
}
figure.var-a {
  display: inline-block;
  margin: 1em 0em 1em 0em;
}

figure.var-a figcaption {
  background-color: white;
  padding: 0.8em;
  border: 0.1em solid #587c8e;
  margin-top: -0.3em;
}

figure.portrait {
  display: table;
}

figure.var-b {
  margin: 1em 0em 1em 0em;
}
figure.var-b1 {
  margin: 1em 0em 1em 0em;
}
figure.var-c {
  width: 50%;
}
figure.var-d {
  float: left;
  width: 50%;
  margin-right: 20px;
}
figure.var-e {
  float: right;
  width: 50%;
  margin-left: 20px;
}
.doubleimage {
  overflow: auto;
  margin: 1em 0em 1em 0em;
}
figure.var-e1 {
  float: left;
  width: 49%;
}
figure.var-f1 {
  float: right;
  width: 49%;
}
figure.var-gridl {
  float: left;
}
figure.var-gridr {
  float: right;
}

figure.var-g {
  float: left;
  width: 30%;
  padding-right: 20px;
  margin-top: 8px;
}
figure.var-x {
  margin: 1em 2em 1em 0em;
}
figure.var-x_left {
  margin: 1em 2em 1em 0em;
  float: left;
}
figure.size100 {
  width: 100%;
  float: none;
}
figure.size90 {
  width: 90%;
  float: none;
}
figure.size80 {
  width: 80%;
  float: none;
}
figure.size70 {
  width: 70%;
  float: none;
}
figure.size60 {
  width: 60%;
}
figure.size50 {
  width: 50%;
}
figure.size58 {
  width: 58%;
}
figure.size34-1 {
  width: 34.1%;
}
figure.size63 {
  width: 63%;
}
figure.size64 {
  width: 64%;
}
figure.size64-5 {
  width: 64.5%;
}
figure.size33-9 {
  width: 33.9%;
}
figure.size62 {
  width: 62%;
}
figure.size58-5 {
  width: 58.5%;
}
figure.size67 {
  width: 67%;
}
figure.size67-5 {
  width: 67.5%;
}
figure.size67-8 {
  width: 67.8%;
}
figure.size40 {
  width: 40%;
}
figure.size36-3 {
  width: 36.3%;
}
figure.size31 {
  width: 31%;
}
figure.size35 {
  width: 35%;
}
figure.size53-3 {
  width: 53.3%;
}
figure.size44 {
  width: 44%;
}
figure.size37-4 {
  width: 37.4%;
}
figure.size37 {
  width: 37%;
}
figure.size39 {
  width: 39%;
}
figure.size30 {
  width: 30%;
}
figure.size34-5 {
  width: 34.5%;
}
figure.size30-5 {
  width: 30.5%;
}
figure.size34 {
  width: 34%;
}
figure.size20 {
  width: 20%;
}
figure.size55-3 {
  width: 55.3%;
}
figure.size43 {
  width: 43%;
}
figure.size57-3 {
  width: 57.3%;
}
figure.size40-3 {
  width: 40.3%;
}
figure.size52-3 {
  width: 52.3%;
}
figure.size45-3 {
  width: 45.3%;
}
figure.size45 {
  width: 45%;
}
figure.size29-7 {
  width: 29.7%;
}
figure.size68-1 {
  width: 68.1%;
}
figure.size29 {
  width: 29%;
}
figure.size68-7 {
  width: 68.7%;
}
figure.size56 {
  width: 56%;
}
figure.size41-3 {
  width: 41.3%;
}
figure.size41-1 {
  width: 41.1%;
}
figure.size57 {
  width: 57%;
}
figure.size43a {
  width: 45%;
}
figure.size43b {
  width: 53.5%;
}
figure.size41 {
  width: 41%;
}
figure.size28-5 {
  width: 28.5%;
}
figure.size67-7 {
  width: 67.7%;
}
figure.size55-4 {
  width: 55.4%;
}
figure.size53 {
  width: 53%;
}
figure.size44-2 {
  width: 44.2%;
}
figure.size56-8 {
  width: 56.8%;
}
figure.size57-7 {
  width: 57.7%;
}
figure.size48 {
  width: 48%;
}
figure.size50-9 {
  width: 50.9%;
}

figcaption {
  font-family: "Droid Sans";
  font-size: 0.88em;
  padding: 0.4em 1em 1em 0em;
  margin-top: 0.5em;
  line-height: 150%;
}
p.figcaption {
  font-family: "Droid Sans";
  font-size: 0.88em;
  padding: 0.7em 1em 1em 0em !important;
  line-height: 150%;
}

figure.var-a img {
  width: 100%;
  max-width: none;
}
figure.var-b img {
  max-height: 38em;
}

figure.portrait img {
  display: table-column;
}

figure.portrait figcaption {
  display: table-caption;
  caption-side: bottom;
  padding-top: 1em;
}

img {
  max-width: 100%;
  max-height: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td img {
  width: 100%;
}

td {
  vertical-align: top;
  padding: 0.4em;
}
th {
  text-align: left;
  padding: 0.4em;
}

.chapter2 .assessment {
  background-color: #f1f1f1;
  padding: 1em;
}
.table {
  overflow: auto;
  max-height: none;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.box-a {
  width: 100%;
  background-color: #efa8db;
  padding: 1em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
.box-a h3 {
  margin: 0em 0em 0.5em 0em;
}
.warning {
  font-size: 0.8em;
  font-family: monospace;
  margin: 0.5em 0.5em -1.5em 0.5em;
  display: none;
}

.question {
  font-style: italic;
}

.floatright {
  float: right !important;
}

.top {
  background-color: #eaf6fe;
  padding: 1.5em;
  font-size: 0.9em;
  margin: 1.5em 0em;
}
.top1 {
  margin-top: 1em;
}
.top summary {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1em 0em 0em 0em !important;
  padding: 0 !important;
}

.top h4 {
  font-size: 1.4em;
  font-weight: normal;
  font-family: "Barlow";
  margin: 0.5em 0em 1.5em 0em !important;
  padding: 0 !important;
}

.top::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: white transparent transparent transparent;
}
.top::after {
  content: " (Klikk på overskriften)";
}

.fortidogforklaring {
  font-family: "Droid Sans";
  font-size: 0.88em;
  background-color: #d3e4c4;
  padding: 1em;
  margin: 1.5em 0em 1.5em 0em;
}
.naerbilde {
  font-family: "Droid Sans";
  font-size: 0.88em;
  background-color: #d9c9d6;
  padding: 1em;
  margin: 1.5em 0em 1.5em 0em;
}
.perspektiver {
  font-family: "Droid Sans";
  font-size: 0.88em;
  background-color: #f4eec3;
  padding: 1em;
  margin: 1.5em 0em 1.5em 0em;
}
.historiebevissthet {
  font-family: "Droid Sans";
  font-size: 0.88em;
  background-color: #f9d1bd;
  padding: 1em;
  margin: 1.5em 0em 1.5em 0em;
}

.kilderogkildekritikk {
  font-family: "Droid Sans";
  font-size: 0.88em;
  background-color: #cbd7dd;
  padding: 1em;
  margin: 1.5em 0em 1.5em 0em;
}
.imagecaption {
  font-family: "Droid Sans";
  font-size: 0.88em;
  background-color: #e2f3fe;
  padding: 1em;
  margin: 1.5em 0em 1.5em 0em;
}

.cssTabell {
  clear: both;
  font-family: "Droid Sans";
  font-size: 0.88em;
  margin: 2em 0em 2em 0em;
}
.cssTabell ul {
  margin-top: 0em;
}

.cssRad {
  display: flex;
  margin-top: 0em;
}
.cssCelle_v {
  flex: 50%;
  padding: 18px 10px 10px 0px;
  min-width: 8em;

  border-top: 2px solid black;
}
.cssCelle_h {
  flex: 50%;
  padding: 12px 4px 0px 0px;
  float: right;
  margin-left: 20px;
  border-top: 2px solid black;
}
.cssCelle_v ul,
ol {
  padding: 0 0 0 20px;
}
.cssCelle_h ul,
ol {
  padding: 0 0 0 20px;
}

.intro {
  background-color: white;

  border-top: 2px solid #c6d1d2;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 1em 2em 2em 2em;
}

.sub-head {
  font-family: "Droid Sans";
  margin-top: -3em;
  margin-bottom: 3em;
}

.above {
  margin: 1em 0em 0em 0em !important;
}
.above1 {
  margin-top: 1em !important;
}
p.blank {
  margin-top: 1em;
  margin-bottom: 0em;
}
p.unindented {
  margin: 0 0 0 0em;
}
.copy {
  margin: 0;
  text-indent: 0;
  font-size: 0.88em;
}
.copy_1 {
  margin: 1em 0 0em 0em;
  text-indent: 0;
  font-size: 0.88em;
}
section.FM {
  background-color: white;
  -webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  /* -moz-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75); */
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  border-top: 2px solid #c6d1d2;
  margin: 2em 0em 2em 0em;
  padding: 1em 2em 2em 2em;
}
.ch_title h2 {
  font-family: "Barlow";
  font-size: 3em;
  font-weight: normal;
  margin: 0.5em 0em 0.5em 0em;
  text-align: center;
  text-indent: 0em;
  background-color: #fff;
  color: #444;
}
.author {
  font-family: "DVSans";
  font-size: 1em;
  text-align: center;
  margin: 0em 0em 2em 0;
}
.ch_title h1 {
  font-family: "DVSans";
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  margin: 0em 0 0em 0 !important;
}

.subtitle {
  font-family: "DVSans";
  font-size: 1em;
  text-align: center;
  margin: 2em 0em 12em 0;
}
.publisher {
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  margin: 1em 0em 0em 0em;
  text-align: center;
}
section.kilder {
  font-family: "Droid Sans";
  font-size: 0.88em;
  background-color: #f4eec3;
  -webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  /* -moz-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75); */
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  border-top: 2px solid #c6d1d2;
  margin: 0em 0em 0em 0em;
  padding: 1em 2em 2em 2em;
}
.kilder h1 {
  font-family: "Barlow";
  font-weight: normal;
  margin: 1em 0em 0.5em 0em;
  text-align: center;
  text-indent: 0em;
}
.kilder h5 {
  font-size: 1em;
  font-weight: bold;
  margin: 2em 0em 3em 0em;
  text-align: center;
  text-indent: 0em;
  color: #0070a3;
}
.kilder h2 {
  font-family: "Barlow";
  font-size: 1.3em;
  font-weight: bold;
  margin: 1em 0em 1em 0em !important;
  text-indent: 0em;
  color: #444;
  background-color: #f4eec3;
  padding: 0em;
}
ol.bold {
  font-weight: bold;
}
ol.bold1 li {
  font-weight: bold;
  margin-top: -0.3em !important;
}
.normal {
  font-weight: normal;
}
.kilder ul {
  margin: 0em 0em 1em 0em;
}
.FM3 h1 {
  font-family: "Barlow";
  font-weight: normal;
  margin: 0em 0em 1em 0em;
}
.sub-head1 {
  font-family: "Droid Sans";
  font-size: 1em;
  color: #0070a3;
  font-weight: bold;
  margin: 3em 0em 1em 0em;
}
.sub-2_bg {
  margin: 0em 0em 0em 0em;
  background-color: white;

  padding: 1em 2em 1em 2em;
}
.husker {
  font-family: "Droid Sans";
  font-size: 0.88em;
}
.husker h4 {
  margin: 2.5em 0em 1.5em 0em !important;
}
.husker ol {
  margin: 0em 0em 1em 0em;
}
.husker ol li {
  margin-bottom: 0.5em;
  margin-top: 0em;
}
.husker .hang {
  margin: 0.5em 0 0 1em;
  text-indent: -1em;
}
.husker ol ul {
  padding: 0 0 0 15px;
  list-style: disc;
  margin-top: 0em !important;
  margin-bottom: 0em !important;
}

.chapter h1 {
  font-family: "Barlow";
  font-weight: normal;
  margin: 0em 0em 1em 0em;
}
.introduksjon {
  font-family: "Droid Serif";
}
.introduksjon h3 {
  font-family: "Droid Sans";
  font-size: 1em;
  font-weight: bold;
  margin: 2em 0em 1em 0em;
}
.introduksjon p {
  color: #0070a3;
}
.sammendrag h2 {
  font-size: 2.2em;
  font-family: "Barlow";
  font-weight: bold;
  background-color: #ac544d;
  color: white;
  margin-bottom: -1.6em;
  padding: 0.5em 0em 0.5em 1em;
}
.sub-2_bg1 {
  margin: 3.5em 0em 0em 0em;
  background-color: white;

  border-left: 25px solid #ac544d;
  border-right: 25px solid #ac544d;
  border-bottom: 50px solid #ac544d;
  padding: 2.5em 2em 1em 2em;
}

.sub-3_bg1 {
  margin: 0em 0em 0em 0em;
  background-color: white;

  padding: 0.5em 2em 1em 2em;
}

.sub-2 h4 {
  margin: 2em 0em 0.5em 0em;
}
.sub-head2 {
  font-family: "Droid Sans";
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  margin: 3em 0em 1em 0em;
}
.chap-back h1 {
  text-align: center;
}
.chap-back {
  margin: 3.5em 0em 0em 0em;
  background-color: white;
  -webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  /* -moz-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75); */
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  padding: 1em 2em 1em 2em;
  border-top: 50px solid #cad7df;
  border-left: 25px solid #cad7df;
  border-right: 25px solid #cad7df;
  border-bottom: 50px solid #cad7df;
}
.chap-back h5 {
  font-size: 1em;
  margin: 1.5em 0 0 0;
}
.chap-back h6 {
  font-family: "Droid Sans";
  font-size: 1em;
  font-weight: bold;
  margin: 2em 0em 3em 0em;
  text-align: center;
  text-indent: 0em;
  color: #0070a3;
}
section.backmatter1 {
}
.backmatter1 h1 {
  font-family: "Barlow";
  font-weight: normal;
  margin: 1.5em 0em 1em 0em;
  text-align: center;
  text-indent: 0em;
}
.backmatter1 h2 {
  font-family: "Droid Sans";
  font-size: 1.3em;
  font-weight: bold;
  color: #5293b3;
  margin: 1em 0em 0.2em 0em;
  background-color: #d0e4f1;
  padding: 0em;
}
.backmatter1 p {
  font-family: "Droid Sans";
  font-size: 0.88em;
  margin: 0em 0em 0em 0em;
}

.copyright h2 {
  font-size: 2.2em;
  font-family: "Barlow";
  font-weight: bold;
  background-color: #d0e4f1;
  color: #444;
  margin-bottom: 0.6em;
  padding: 0;
}
.blue {
  color: #0070a3;
}
.husker ul.ndash {
  padding: 0 0 0 15px;
  list-style-type: none;
  margin: 0em 0 0em 0em;
  text-indent: -0.9em;
  font-weight: normal;
}
.husker ul.ndash li::before {
  content: "- ";
  margin-right: 0.3em;
  margin-left: 0em;
}
.husker ol.A {
  list-style: upper-alpha;
}
.husker ol.alpha-u {
  list-style: upper-alpha;
  margin-top: -0.5em !important;
  margin-bottom: 0em !important;
  margin-left: -0.6em !important;
  font-weight: normal;
}
div.poeml {
  margin: 1em 0em 1em 1.2em;
}
.kilderogkildekritikk-y {
  font-family: "Droid Sans";
  font-size: 0.88em;
  background-color: #eae5d3;
  padding: 1em;
  margin: 1.5em 0em 1.5em 0em;
}

.glo {
  color: red;
}

math,
math * {
  text-indent: 0 !important;
}
.underline {
  padding: 0em;
  margin: 0em;
  text-decoration: underline;
  border-bottom: 3px double #000;
}

@media all and (max-width: 720px) {
  #content {
    padding: 0.7em 0.7em;
  }
}
@media all and (max-width: 670px) {
  figure.var-c,
  figure.var-d,
  figure.var-e,
  figure.var-e1,
  figure.var-f1,
  figure.var-g,
  figure.var-gridl,
  figure.var-gridr {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  figure.var-c,
  figure.var-d,
  figure.var-e,
  figure.var-e1,
  figure.var-f1,
  figure.var-g,
  figure.var-gridl,
  figure.var-gridr img {
    max-width: 100%;
    max-height: 25em;
    display: table;
  }

  .chapter {
    padding: 0em;
    margin: -0.5em;
  }

  h1 {
    font-size: 2.3em;
  }

  .cssCelle_v {
    width: 100%;
  }
  .cssCelle_h {
    width: 100%;
  }
  .cssRad {
    display: table;
    margin-top: 0em;
  }
  h2 {
    font-size: 1.8em;
    font-family: "Barlow";
    font-weight: bold;
    background-color: #587c8e;
    color: white;
    margin-bottom: 0em;
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
  h3 {
    font-size: 1.5em;
    font-family: "Barlow";
    font-weight: normal;
  }
  .sammendrag h2 {
    font-size: 1.8em;
    font-family: "Barlow";
    font-weight: bold;
    background-color: #ac544d;
    color: white;
    margin-bottom: -2.2em;
    padding: 0.5em 0em 0.5em 1em;
  }
  .sub-head {
    font-family: "Droid Sans";
    margin-top: -1em;
    margin-bottom: 3em;
  }

  .warning {
    display: block;
  }
}

button.next-chapter {
  border: none;
  padding: 16px 32px;
  font-size: 32px;
  position: fixed;
  top: 0;
  right: 0;
}

button.previous-chapter {
  border: none;
  padding: 16px 32px;
  font-size: 32px;
  position: fixed;
  top: 0;
  left: 0;
}
