@namespace epub "http://www.idpf.org/2007/ops";

@font-face {
  font-family: "DejaVuSans";
  src: url("fonts/DejaVuSans.ttf");
}
@font-face {
  font-family: "DejaVuSans-Bold";
  src: url("fonts/DejaVuSans-Bold.ttf");
} 
@font-face {
  font-family: "DejaVuSans-BoldOblique";
  src: url("fonts/DejaVuSans-BoldOblique.ttf");
}

@font-face {
  font-family: "DVSans";
  src: url("");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "DejaVuSans-Oblique";
  src: url("fonts/DejaVuSans-ItalicOblique.ttf");
  font-style: italic;
}

@font-face {
  font-family: "DVSerif";
  src: url("fonts/DVSerif.ttf");
}
@font-face {
  font-family: "DVSerif";
  src: url("fonts/DVSerif-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "DVSerif";
  src: url("fonts/DVSerif-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "DVSerif";
  src: url("fonts/DVSerif-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "MJX_Main";
  src: url("fonts/MJX.ttf");
}
@font-face {
  font-family: "MJX_Main-bold";
  src: url("fonts/MJX-Bold.ttf");
}
@font-face {
  font-family: "MJX_Main-italic";
  src: url("fonts/MJX-Italic.ttf");
}

body {
  background-color: #f1f1f1;
  margin: 0;
}

#content {
  max-width: 43em;
  font-size: 1.1em;
  letter-spacing: 0.02em;
  margin: 0px auto;
  padding: 10px 55px 0px 55px;
  font-family: "MJX_Main";
  color: #444;
}

section.titlepage {
  padding: 3em 3em 35em 3em !important;
  background-color: white;
  -webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
}

section.fotografier {
  padding: 3em 3em 35em 3em !important;
  background-color: white;
  -webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
}

section.forord {
  padding: 3em;
  background-color: white;
  -webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
}

section.formelsamling {
  padding: 3em;
  background-color: white;
  -webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
}

section.periodesystem {
  padding: 3em;
  background-color: white;
  -webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
}

section.mainsection {
  /*padding: 3em;
background-color: white;
-webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);*/
}

section.sub-2 {
  padding: 3em;
  background-color: white;
  -webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
}

section.index {
  padding: 3em;
  background-color: white;
  -webkit-box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 7px 2px rgba(0, 0, 0, 0.75);
}

/* Front Matter */
h1.title {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  font-family: "MJX_Main-bold";
  color: white;
  margin: 0.5em 0 0.3em 0;
  letter-spacing: 0em;
}
.author {
  font-weight: bold;
  font-style: normal;
  margin: 0.5em 0 3em 0;
}
.subtitle {
  margin: 0.2em 0;
  text-transform: uppercase;
}

.subtitle2 {
  margin: 2.2em 0;
  text-transform: uppercase;
}

/* Headings */
h1 {
  font-size: 2.4em;
  margin: 1em 0;
  color: #c7421b;
  font-family: "DejaVuSans-bold";
  margin-left: 0.4em;
  text-transform: uppercase;
}
.sub2 h2 {
  font-size: 2em;
  margin-bottom: 2em;
  color: #c7421b;
  font-family: "DejaVuSans-bold";
}
.sub3 h3 {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 0em;
  color: #444;
  font-family: "DejaVuSans-bold";
}
.sub-2.oppgaver h4.pink,
.sub3 h3.pink,
.sub3 h4.pink,
.sub-3 h4.pink {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0em;
  color: #c7421b;
}
.sub3 h3.oppgaver {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0em;
}
.sub3 h4 {
  font-size: 1em;
  margin-bottom: 0.5em;
  color: #c7421b;
}
.sub3 h4 strong {
  color: #444;
}
p.heading {
  font-size: 1.05em;
  margin-bottom: 0em;
  font-weight: bold;
  color: #444;
}
p.noindent {
  font-size: 1em;
  margin-top: 0em;
  font-weight: normal;
  color: #444;
}
p.background {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 1em 1em 1em;
  font-weight: normal;
  background-color: #ececed;
}
ol.lower-alpha-parenthesis p.background {
  font-weight: normal;
  color: #444;
}

p.noindent1 {
  font-size: 1em;
  margin-top: 1em;
  font-weight: normal;
  color: #444;
}
p.heading + p {
  margin-top: 0em;
}

.fotografier h1 {
  font-size: 1em;
  color: #444;
  margin: 1em 0em 0em 0em;
}
.forord h1,
.bibliography h1,
.index h1,
.formelsamling h1 .periodesystem h1 {
  font-family: "DejaVuSans-bold";
  margin: 0em 0em 0.5em 0em;
}

.tenke h1 {
  margin: 0em 0em 0.3em 0.8em;
  font-family: "DejaVuSans-bold";
}
.sub-2 h2 {
  font-size: 1.4em;
  color: #c7421b;
  font-family: "DejaVuSans-bold";
  margin-bottom: 0.3em;
}
.chapter h3 {
  font-size: 18px;
  margin-bottom: 0.3em;
  font-family: "DejaVuSans-bold";
}
.chapter h4 {
  font-size: 1.05em;
  font-style: normal;
  margin-bottom: 0.1em;
  color: #444;
  font-family: "DejaVuSans-bold";
}

a.foot {
  content: "#";
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  text-decoration: none;
}

figure {
  margin: 0 0 1em 0;
}
figure.left2 {
  margin: 1em 0em 1em 1em;
}
table {
  border-collapse: collapse;
  overflow: auto;
  max-height: none;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
td img {
  width: 100%;
}
.warning {
  font-size: 0.8em;
  font-family: monospace;
  margin: 0.5em 0.5em -1.5em 0.5em;
  display: none;
}
.table-h-scroll {
  display: block;
  overflow-x: auto;
  overflow-y: visible;
}
ol.A {
  list-style: upper-alpha;
}
ol.a {
  list-style: lower-alpha;
  margin: 0em;
}
ol.mleft {
  margin-left: 1em;
}

.lower-alpha-parenthesis .romman {
  margin: 0em;
  padding: 0em;
}
.lower-alpha-parenthesis .romman {
  counter-reset: item;
  list-style: none;
}
.lower-alpha-parenthesis .romman li {
  list-style: none;
  margin-top: 0em;
  display: table;
  counter-increment: item;
}
.lower-alpha-parenthesis .romman li:before {
  content: " " counter(item, lower-roman) ". ";
  counter-increment: list;
  list-style: none;
  display: table-cell;
  width: 20px;
}
.romman {
  margin-top: 0em;
  padding-left: 0em;
}
.romman ol {
  counter-reset: item;
}
.romman li {
  list-style: none;
  display: table;
  counter-increment: item;
}
.romman li:before {
  content: " " counter(item, lower-roman) ". ";
  counter-increment: list;
  display: table-cell;
  width: 30px;
}
.roman {
  margin-top: 0em;
  padding-left: 0em;
}
.roman {
  counter-reset: item;
}
.roman li {
  list-style: none;
  display: table;
  counter-increment: item;
}
.roman li:before {
  content: " " counter(item, lower-roman) ". ";
  counter-increment: list;
  display: table-cell;
  width: 30px;
}

.lower-alpha-parenthesis.blank {
  margin-top: 1em;
}
.lower-alpha-parenthesis {
  margin: 0em;
  padding: 0em;
}
.lower-alpha-parenthesis {
  counter-reset: item;
}
.number6 {
  counter-reset: item;
  margin: 0em;
  padding: 0em;
}
.number6 li {
  margin-top: 0em;
  display: table;
  counter-increment: item;
}
ol.lower-alpha-parenthesis .number6 li:before {
  content: " " counter(item, decimal) ") ";
  counter-increment: list;
  display: table-cell;
  width: 20px;
}
.lower-alpha-parenthesis li {
  margin-top: 0em;
  display: table;
  counter-increment: item;
}
.lower-alpha-parenthesis li:before {
  content: " " counter(item, lower-alpha) ") ";
  counter-increment: list;
  display: table-cell;
  width: 20px;
}
ol.lower-alpha-parenthesis li.b:before {
  content: "b) ";
  counter-increment: list;
  display: table-cell;
  width: 20px;
}
ol.lower-alpha-parenthesis li.c:before {
  content: "c) ";
  counter-increment: list;
  display: table-cell;
  width: 20px;
}
ol.lower-alpha-parenthesis li.d:before {
  content: "d) ";
  counter-increment: list;
  display: table-cell;
  width: 20px;
}
.lower-alpha-parenthesis li.e:before {
  content: "e) ";
  counter-increment: list;
  display: table-cell;
  width: 20px;
}
.lower-alpha-parenthesis li.f:before {
  content: "f) ";
  counter-increment: list;
  display: table-cell;
  width: 20px;
}
.lower-alpha-parenthesis li.g:before {
  content: "g) ";
  counter-increment: list;
  display: table-cell;
  width: 20px;
}
.lower-alpha-parenthesis li.h:before {
  content: "h) ";
  counter-increment: list;
  display: table-cell;
  width: 20px;
}
.lower-alpha-parenthesis li.i:before {
  content: "i) ";
  counter-increment: list;
  display: table-cell;
  width: 20px;
}
.lower-alpha-parenthesis li.j:before {
  content: "j) ";
  counter-increment: list;
  display: table-cell;
  width: 20px;
}
.lower-alpha-parenthesis li.c-f:before {
  content: " c\2013";
  counter-increment: list;
  display: table-cell;
  width: 30px;
}
ol.roman-parenthesis {
  counter-reset: list;
  list-style: none;
}
ol.roman-parenthesis > li {
  text-indent: -25px;
}
ol.roman-parenthesis > li p:before {
  counter-increment: list;
  content: counter(list, lower-roman) ") ";
  padding-right: 7px;
}
.lower-alpha-parenthesis ol.num-parenthesis {
  margin: 0em;
}
.lower-alpha-parenthesis ol.num-parenthesis.left {
  margin-left: 1em;
}
.lower-alpha-parenthesis ol.num-parenthesis {
  counter-reset: list;
  list-style: none;
  padding-left: 0px;
}
.lower-alpha-parenthesis ol.num-parenthesis > li:before {
  counter-increment: list;
  content: counter(list, decimal) ") ";
  padding-right: 7px;
}
.number {
  counter-reset: list;
  margin: 0em 0em 0em 1.2em;
}

.lower-alpha-parenthesis .number {
  counter-reset: list;
}
.lower-alpha-parenthesis .number > li {
  text-indent: -25px;
  padding-left: 10px;
  list-style: none;
}
.lower-alpha-parenthesis .number > li p:before {
  content: counter(list, decimal) ". ";
  list-style: none;
  padding-right: 7px;
}
ul.unindented,
ol.unindented {
  margin-top: 0em;
  margin-bottom: 1em;
}
ul.unindented2 li {
  margin-left: 1.5em;
  margin-top: 0em;
  margin-bottom: 0em;
}

ul.blank {
  margin-top: 1em;
  padding-left: 1em;
  margin-bottom: 1em;
}

ol.unindented p.hang {
  margin-top: 1em;
  margin-left: -1em;
}
ol.unindented li {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 1em;
}

ol.unindented,
ol.lower-alpha-parenthesis p.hang {
  margin-left: -1em;
}

ul.none {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
}
.bibliography ul.none li {
  text-indent: -20px;
  padding-left: 22px;
}
ul.bullet {
  list-style: bullet;
  margin-left: 0;
  margin-top: 0.3em;
  padding-left: 2.5em;
  color: #0063af;
}
ol ul.bullet1 {
  list-style: none;
  padding-left: 0em;
}
ol ul.bullet1 li {
  text-indent: -10px;
  /* padding-left: -0.5em; */
}
ol ul.bullet1 > li p:before {
  content: "\2022";
  padding-right: 10px;
}

.bibliography ul.none li {
  text-indent: -20px;
  padding-left: 22px;
}
ul.dash-list {
  list-style: none;
}
ul.dash-list.left1 {
  margin: 0em 0em 0em 1em;
}
ul.dash-list.left {
  list-style: none;
  margin-left: 50%;
}

ul.dash-list li {
  text-indent: -20px;
  margin-left: -15px;
}
ul.dash-list > li p:before {
  content: "\2013";
  padding-right: 10px;
}
ul.dash-list > li p {
  margin: 0em 0em;
}

ul.dash-list1 {
  list-style: none;
}

ul.dash-list1 li {
  text-indent: -20px;
  margin-left: -15px;
}
.index ul.dash-list1 li {
  text-indent: -18px;
  margin-left: 0px;
}
ul.dash-list1 > li p:before {
  content: "\2013";
  padding-right: 10px;
}
ul.dash-list1 > li p {
  margin: 0em 0em;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
  font-size: 75%;
}
sub {
  top: 0.4em;
}
em {
  font-weight: inherit;
  font-family: "MJX_Main-italic";
  text-decoration: none;
}
strong {
  /*font-family: 'MJX_Main-bold';*/
  text-decoration: none;
  font-weight: bold;
}
.strong {
  font-weight: bold;
}

em.sans {
  font-family: "DejaVuSans-BoldOblique";
}

a {
  text-decoration: none;
  color: blue;
}

h2 {
  margin: 1.5em 0em 0em 0em;
  color: #c7421b;
}
h3 {
  margin: 0.5em 0em 0em 0em;
}
h4 {
  margin: 1em 0em 0.1em 0em;
}
h5 {
  margin: 1em 0em 0.2em 0em;
}

p {
  margin: 0;
  line-height: 150%;
}
p + p {
  margin: 1em 0 0 0;
  text-indent: 0;
}

#content math,
#content math * {
  text-indent: 0 !important;
} /* styling for bug in safari for windows */
#content p + p math {
  margin-top: 0.5ex;
}
#content math mi {
  font-family: "MJX_Main-italic";
}
math {
  font-size: 1em;
  letter-spacing: 0.02em;
  font-family: "MJX_Main";
}

mfrac mfrac {
  font-size: 1.4em;
}

/* Style for mn and mi */
/*math mi {
font-family: 'MJX_Main-italic';
font-style: italic;
}
math mn,
math mtext {
font-family: 'MJX_Main';
font-style: normal;
}
table th math mn, 
table th math mtext {
font-family: 'MJX_Main-bold';
}
table math.strong mn, 
table math.strong mtext {
font-family: 'MJX_Main-bold';
}*/

/* ## Reader spesific koding for MathML ## Do not change */
p.math_indent {
  white-space: nowrap;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 0em;
}
/*^^^^^Endret Margin bottom fra 0.8em til 0 for å teste mindre luft*/
p.math_indent1 {
  margin-left: 1.5em;
  margin-top: 0em;
  margin-bottom: 0em;
}
/*^^^^^Endret Margin bottom + top fra 0.8em til 0 for å teste mindre luft*/

.overline {
  padding: 0.3em 0em 0em 0em;
  margin: 0em;
  border-top: 1px solid #444;
}
.over_under {
  padding: 0.2em 0em;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}
.underline {
  border-bottom: 1px solid #444;
}
.underline2 {
  border-bottom: double;
  padding-top: 0.5em;
}
.double_underline {
  padding: 0em;
  margin: 0em;
  border-bottom: 4px double #000000;
}
.underline1 {
  padding: 0em 0em 0.1em 0em;
  margin: 0em;
  border-bottom: 1px solid #444;
}

span.float_r {
  margin-left: 3em;

  /*margin-top:-2.0em;*/
}

span.ligningnummer {
  margin-left: 3em;
}

li.blank {
  margin-top: 1em;
  text-indent: 0;
}
p.unindented {
  margin: 0;
}
p.center {
  text-align: center;
}
p.blank {
  margin-top: 1em;
  text-indent: 0;
}
table p {
  margin: 0;
}
table p + p {
  margin-top: 1em;
}
ul {
  margin-top: 0;
}
h3 + p.noindent1 {
  margin-top: 0.5em;
}
h3 + p {
  margin-top: 0;
}
h4 + p {
  margin-top: 0;
}
.sub-2 h2 + .sub-3 h3 {
  margin-top: -0em;
}
h3 + h4 {
  margin-top: 0.8em;
}
.box-d h3 + p {
  margin-top: 0.5em;
}
.box-d h3 + ul {
  margin-top: 0.5em;
}
.example h3 + p {
  margin-top: 0.5em;
}
.example h3 + ul {
  margin-top: 0.5em;
}

img {
  max-width: 100%;
  max-height: inherit;
}

blockquote {
  font-size: 0.88em;
  margin: 1em 1.2em 1em 1.2em;
}
blockquote p + p {
  margin: 0.3em 0;
  text-indent: 0;
}
blockquote ol {
  margin-top: 0.1em;
  padding: 0 0 0 18px;
}
blockquote table {
  font-size: inherit;
}

.poem {
  margin: 1em;
}
.poem h1 {
  font-size: 150%;
  margin: 1em 0;
}
.poem .verse {
  margin-bottom: 1em;
  margin-left: 1.2em;
}
.poem p {
  margin-left: 1em;
  margin-top: 0em;
  text-indent: 0;
}
.poem .origin {
  font-size: 80%;
}
ol {
  margin: 0em 0;
  padding: 0 0 0 18px;
}
ol {
  margin: 1em 0em 1em 0em;
  padding: 0 0 0 18px;
  overflow: visible;
  color: #444;
}
ol.A {
  list-style-type: upper-alpha;
  margin: 0em 0;
}
ol.A li p {
  margin-bottom: 0em;
  margin-top: 0em;
  color: #444;
}
ul.unindented2 {
  color: #444;
  margin-left: -20px;
}
ul.unindented1 {
  margin-top: 1em;
  color: #444;
  margin-left: -20px;
}
ul.unindented.left {
  margin-left: 30%;
}
ul.unindented li {
  color: #444;
  margin-left: -20px;
}
ul.unindented li p {
  margin-bottom: 0.1em;
  margin-top: 0.1em;
  line-height: 1.5em;
  color: #444;
}

ol li {
  margin-bottom: 0em;
  margin-top: 0em;
  line-height: 1.5em;
  color: #444;
  font-weight: normal;
}
.firstname:after,
.lastname:after {
  content: " ";
}

section.sub-2 {
  margin-top: 2em;
  padding-top: 1em;
  clear: both;
}
section.sub-3 {
  margin-top: 1em;
  clear: both;
}
.clear {
  clear: both;
}
.clear-left {
  clear: left;
}
figure {
  box-sizing: border-box;
  margin: 1em 0;
}
figure.var-a {
  max-width: 100%;
  max-height: 32em;
}
.inline {
  width: 50%;
  vertical-align: top;
}

/*kode-ikon i oppgaver*/
.prog_icon::before {
  content: url("blob:https://les.unibok.no/cb18ebd2-09d3-467f-b945-731aebd250f5");
  margin: 0em 0em 0em -1.6em;
  float: left;
}

ol.lower-alpha-parenthesis li.prog_icon_li :before {
  content: url("../images/icon_06_small.png");
  float: left;
  margin-top: 2px;
  margin-left: -2.7em;
}

.inline.w10 {
  width: 130px;
  vertical-align: top;
}
.inline1 {
  vertical-align: middle;
}

figure.var-b {
  max-width: 100%;
}
figure.var-b1 {
  max-width: 100%;
  margin-left: 1.2em;
}
figure.var-c {
  max-width: 50%;
}
figure.var-d {
  float: left;
  width: 50%;
  padding-right: 30px;
  margin-top: 5px;
}

figure.var-d_right {
  float: right;
  width: 50%;
  padding-left: 30px;
  margin-top: 5px;
}

figure.var-e {
  float: right;
  width: 35%;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 32em;
}
figure.var-g {
  float: left;
  width: 30%;
  padding-right: 30px;
  margin-top: 5px;
}

figure.var-g_right {
  float: right;
  width: 30%;
  padding-left: 30px;
  margin-top: 5px;
}

figure.var-f {
  float: left;
  width: 20%;
  padding-right: 30px;
  margin-top: 5px;
  max-height: 32em;
}
.doubleimage {
  overflow: auto;
}
figure.var-e1 {
  float: left;
  width: 49%;
}
figure.var-f1 {
  float: right;
  width: 49%;
}

figure.var-x {
  margin: 1em 0em 1em 0em;
}
figure.size18 {
  width: 18%;
}
figure.size20 {
  width: 20%;
}
figure.size22 {
  width: 22%;
}
figure.size25 {
  width: 25%;
}
figure.size27 {
  width: 27%;
}
figure.size30 {
  width: 30%;
}
figure.size35 {
  width: 35%;
}
img.size40,
figure.size40 {
  width: 40%;
}
figure.size45 {
  width: 45%;
}
figure.size55 {
  width: 55%;
}
figure.size60 img {
  width: 60%;
}
figure.size65 {
  width: 65%;
}
figure.size75 {
  width: 75%;
}
figure.size70 {
  width: 70%;
}
.size40 {
  width: 45%;
}
figure.size80 {
  width: 80%;
}
figure.size85 {
  width: 85%;
}
figure.size90 {
  width: 90%;
}
figure.size95 {
  width: 95%;
}
figure.size100 {
  width: 100%;
}

figure td figure {
  margin: 0 !important;
}
figure h1,
figure h3,
figure h6 {
  margin: 0 0 1em 0;
  font-size: 80%;
  font-weight: bold;
}
figure .origin {
  font-size: 80%;
  color: #999;
}
figure figcaption {
  font-size: 85%;
  margin-top: 0.5em;
  line-height: 150%;
  text-indent: 0em;
  text-align: left;
}

figure figcaption strong {
  font-size: 85%;
  margin-top: 0.5em;
  line-height: 150%;
  text-indent: 0em;
  text-align: left;
  color: #c7421b;
  font-family: "DejaVuSans-bold";
}

figcaption strong {
  color: #c7421b;
  display: block;
}

figure caption {
  font-size: 85%;
  margin-top: 0.5em;
  line-height: 150%;
  text-indent: 0em;
  text-align: left;
}

/*figure figcaption strong {
font-family: 'MJX_Main-bold';
}*/

figure figcaption p {
  margin: 0em;
}
figure figcaption p + p {
  margin-top: 0.5em;
  text-indent: 0em;
}
figure p.source {
  font-size: 0.8em;
  margin-top: 1em;
  text-indent: 0;
  text-align: left;
}
p.source {
  font-size: 0.8em;
  margin-top: 0em;
  margin-bottom: 1em;
  text-indent: 0;
  text-align: left;
}
p.source1 {
  font-size: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-indent: 0;
  text-align: left;
}

figure p.source + p {
  margin-top: 0em;
}
.table {
  overflow-x: auto;
  overflow-y: auto;
}
table {
  overflow-x: auto;
  overflow-y: auto;
}
table .left {
  text-align: left;
}
table .center {
  text-align: center;
}
table .right {
  text-align: right;
}
table .top {
  vertical-align: top;
}
table .middle {
  vertical-align: middle;
}
table .bottom {
  vertical-align: bottom;
}
table img {
  vertical-align: top;
}

table th {
  text-align: left;
}
table td,
table th {
  vertical-align: top;
  padding: 0.4em;
  font-size: 0.88em;
  word-wrap: break-word;
}
figure.var-b.table .table-title {
  font-size: 80%;
  margin: 0.3em 0;
}

table.var-a {
  width: 100%;
  margin: 0em 0em 0em 0em;
}
table.var-b {
  width: 100%;
  margin: 1em 0em 1em 0em;
}
table.var-b tbody td,
table.var-b thead th {
  border: 1px #c7421b solid;
  padding: 0.4em 0.4em 0.4em 0.4em;
}
table.var-b.first-row tbody td:first-child {
  background-color: #fde7da;
}
table.var-c.first-row tbody td:first-child {
  background-color: #fde7da;
}

table.var-b thead {
  background-color: #fde7da;
}
table.var-b tbody td.c1 {
  background-color: #fde7da;
}
table.var-c {
  width: 30%;
  margin: 1em 0em 1em 0em;
}
table.var-c tbody td {
  border: 1px #c7421b solid;
  padding: 0.4em 0.4em 0.4em 0.4em;
}
table.var-c thead th:first-child {
  background-color: #fde7da;
  border: 1px #c7421b solid;
}
table.var-c thead th:nth-child(2) {
  background-color: #fde7da;
  border: 1px #c7421b solid;
}
table.var-c thead th:nth-child(3) {
  background-color: #fde7da;
  border: 1px #c7421b solid;
}

table.var-d {
  width: 100%;
  margin: 1em 0em 1em 0em;
}
table.var-d thead th {
  background-color: #fde7da;
  border: 1px #c7421b solid;
}
table.var-d tbody td {
  border: 1px #c7421b solid;
  padding: 0.4em 0.4em 0.4em 0.4em;
}
table.var-e {
  width: 100%;
  margin: 1em 0em 1em 0em;
}
table.var-e tbody tr:first-child {
  background-color: #fde7da;
  border: 1px #c7421b solid;
}
table.var-e tbody td {
  border: 1px #c7421b solid;
  padding: 0.4em 0.4em 0.4em 0.4em;
}
table.var-f {
  width: 100%;
  margin: 1em 0em 1em 0em;
}
table.var-f tbody td:first-child {
  background-color: #fde7da;
  border: 1px #c7421b solid;
}
table.var-f tbody td {
  border: 1px #c7421b solid;
  padding: 0.4em 0.4em 0.4em 0.4em;
}

table .over {
  border-top: 1px #444 solid;
}
table .under {
  border-bottom: 1px #444 solid;
}
table .overunder {
  border-top: 1px #444 solid;
  border-bottom: 1px #444 solid;
}
dt {
  font-weight: bold;
  float: left;
}
dd {
  margin: 0 0 1em 0;
  margin-left: 30px;
}

/* Boxes */
.box-a {
  background-color: #efeff0;
  padding: 0.5em 0.5em 0.5em 2.2em;
  margin: 1.5em 0em 1.5em 0em;
  border-radius: 0px 0px 15px 0px;
}
.box-a h3 {
  font-size: 1em;
  margin-bottom: 0.2em;
  margin-top: 0em;
  font-style: normal;
}
.box-a:before {
  content: url("blob:https://les.unibok.no/a52e0b16-f90f-4644-afea-7cbaa4c47200");
  float: left;
  height: 38px;
  width: 38px;
  margin-top: 0px;
  margin-left: -60px;
}

.box-b h2 {
  margin-bottom: 0.2em;
  margin-top: 0em;
}
.box-b {
  float: left;
  width: 50%;
}

.box-c,
.box-ca {
  background-color: #efeff0;
  padding: 0.5em 0.5em 0.5em 2.2em;
  margin: 1.5em 0em 1.5em 0em;
  border-radius: 0px 0px 15px 0px;
  clear: both;
}
.box-c.size30,
.box-c2.size30 {
  margin-left: 33%;
}
.box-cb {
  background-color: #efeff0;
  padding: 0.5em 0.5em 0.5em 2.2em;
  margin: 1.5em 0em 0em 33%;
  border-radius: 0px 0px 15px 0px;
}
.box-c:before {
  content: url("blob:https://les.unibok.no/b3109747-d7f6-42b2-93d2-56b0e8c542c4");
  float: left;
  height: 38px;
  width: 38px;
  margin-left: -63px;
}
.box-ca:before,
.box-cb:before {
  content: url("blob:https://les.unibok.no/95798304-dea8-4927-8b71-40f945d0ff22");
  float: left;
  height: 50px;
  width: 50px;
  margin-top: -18px;
  margin-left: -75px;
}
.box-c1 {
  background-color: #efeff0;
  padding: 0.5em 0.5em 0.5em 2.2em;
  margin: 1.5em 0em 1.5em 0em;
  border-radius: 0px 0px 15px 0px;
}
.box-c1:before {
  content: "";
  float: left;
  height: 38px;
  width: 38px;
  margin-top: 0px;
  margin-left: -32px;
  margin-right: 3px;
}

.box-c3 {
  background-color: #e7e7e8;
  padding: 0.5em 1em 0.5em 1em;
  margin: 1em 0em 1em 0em;
}

.box-c2 {
  background-color: #efeff0;
  padding: 0.5em 0.5em 0.5em 2em;
  margin: 1.5em 0em 1.5em 0em;
  border-radius: 0px 0px 15px 0px;
}
.box-a strong,
.box-c strong,
.box-ca strong,
.box-c2 strong {
  color: #c7421b;
}
.box-c2:before {
  content: url("blob:https://les.unibok.no/4c1afb35-1669-4f0d-a009-219b792f250b");
  float: left;
  height: 38px;
  width: 38px;
  margin-top: 0px;
  margin-left: -54px;
  margin-right: 20px;
}

.box-d:before {
  content: url("../images/icon_05.png");
  float: left;
  height: 32px;
  width: 32px;
  margin-left: -65px;
  margin-top: -39px;
}

.box-d {
  border: 2px solid #e3e3e3;
  margin: 3.5em 0px 30px 0em;
  padding: 0.5em 0.5em 0.5em 2.2em;
  background-color: transparent;
}

.box-d > h3 {
  font-family: "DejaVuSans-Bold";
  display: block;
  padding: 4px 60px 4px 27px;
  margin: -37px 400px 1em -39px !important;
  background-color: #e3e3e3;
  font-size: 0.9em;
  font-style: normal;
  color: #c7421b;
}

.box-d ul li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: -1.4em;
}
.box-d ul li.unindented {
  margin-top: 0em;
}

.example {
  border: 2px solid #c7421b;
  margin: 3.5em 0px 30px 0px;
  padding: 0.5em 0.5em 0.5em 2.2em;
  background-color: transparent;
  max-width: 100%;
}

.example h3 {
  font-family: "DejaVuSans-Bold";
  display: block;
  padding: 4px 60px 6px 27px;
  margin: -37px 400px 0px -40px !important;
  /*padding: 4px 70px 4px 10px;
margin: -42px 0 0px -17px !important;*/
  background-color: #c7421b;
  font-size: 0.9em;
  font-style: normal;
  color: white;
}

.example summary {
  font-family: "DejaVuSans-Bold";
  background-color: #e3e3e3;
  color: #444;
  padding: 4px 4px 4px 10px;
  margin: 2em 1.5em 1em 0em;
}

.example_solution summary {
  border: 2px solid #c7421b;
  margin: 0em 0px 30px 0px;
  padding: 10px 15px 10px 15px;
}

.example.size50 {
  margin: 0em 0em 0em 50%;
}
.example h4 {
  font-size: 1em;
  margin-bottom: 0.2em;
  margin-top: 1em;
  font-style: normal;
}
.examplea {
  border: 2px solid #b64ea7;
  padding: 1em 0em 0em 1em;
  margin: 10em 0em 1.5em 0em;
}
.examplea > h3 {
  font-size: 0.9em;
  width: 180px;
  height: 18px;
  margin-top: -10.8em;
  margin-bottom: 1.5em;
  margin-left: -17px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 10px;
  background-color: #b64ea7;
  text-align: left;
  color: #ffffff;
}

.experiment h2 {
  margin-top: 0em;
}
section.experiment {
  border: 15px solid #e3e3e3;
  padding: 2em;
  margin: 2.5em -3.2em 1.5em -3.2em;
}

section.chapsummary h2 {
  margin: 0em;
}

.chapsummary {
  border: 15px solid;
  padding: 2em !important;
  margin: 2.5em 0em 1.5em 0em !important;
}
.chapter section.chapsummary {
  padding: 2em;
  margin: 2.5em -2em 1.5em -2.2em;
  border-color: #9b5aa0;
}
.chapter1 section.chapsummary {
  border-color: #dd9cbb;
  background-color: #fcf5f8;
}
.chapter2 section.chapsummary {
  border-color: #e0a497;
  background-color: #fcf6f5;
}
.chapter3 section.chapsummary {
  border-color: #e3a95e;
  background-color: #fef7ee;
}

.chapter4 section.chapsummary {
  border-color: #eec44f;
  background-color: #fff9ec;
}
.chapter5 section.chapsummary {
  border-color: #f8df5f;
  background-color: #fffcee;
}
.chapter6 section.chapsummary {
  border-color: #d3dd87;
  background-color: #fafcf3;
}
.chapter7 section.chapsummary {
  border-color: #b5cd7c;
  background-color: #f7faf2;
}
.chapter8 section.chapsummary {
  border-color: #9ecabf;
  background-color: #f3faf9;
}
.chapter9 section.chapsummary {
  border-color: #91c7e1;
  background-color: #f1fafc;
}
.chapter10 section.chapsummary {
  border-color: #8baedd;
  background-color: #f2f7fc;
}
.chapter11 section.chapsummary {
  border-color: #8f94c7;
  background-color: #f4f4fa;
}

/* footnotes */
aside p {
  font-size: 90%;
  margin-top: 0.3em;
}
aside [epub|type~="footnote"] {
  display: inline;
}
div.footnote {
  margin: 2.5em 0em 0em 0em;
  width: 30%;
  border-bottom: 1px solid #168aaf;
}
/* Chap Opener */
.tenke div.chap_opener {
  border-left: 15px solid #834483;
  margin-top: 2em;
}
.chapter1 div.chap_opener {
  border-left: 15px solid #dd9cbb;
}
.chapter2 div.chap_opener {
  border-left: 15px solid #e0a497;
}
.chapter3 div.chap_opener {
  border-left: 15px solid #e3a95e;
}
.chapter4 div.chap_opener {
  border-left: 15px solid #eec44f;
}
.chapter5 div.chap_opener {
  border-left: 15px solid #f8df5f;
}
.chapter6 div.chap_opener {
  border-left: 15px solid #d3dd87;
}
.chapter7 div.chap_opener {
  border-left: 15px solid #b5cd7c;
}
.chapter8 div.chap_opener {
  border-left: 15px solid #9ecabf;
}
.chapter9 div.chap_opener {
  border-left: 15px solid #91c7e1;
}
.chapter10 div.chap_opener {
  border-left: 15px solid #8baedd;
}
.chapter11 div.chap_opener {
  border-left: 15px solid #8f94c7;
}

span.chap-no {
  font-size: 1.8em;
  vertical-align: baseline;
  padding-right: 0em;
  padding-left: 0.1em;
  line-height: 90%;
  color: #444;
}

/* Objectives */
.objective {
  padding: 2em 1em 1em 1em;
  margin: -1.4em 0em 2em 0em;
}
.tenke .objective {
  background-color: #d5b8d5;
  border-left: 15px solid #641652;
}
.chapter1 .objective {
  background-color: #fcf5f8;
  border-left: 15px solid #eecedd;
}
.chapter2 .objective {
  border-left: 15px solid #f0d2cb;
  background-color: #fcf6f5;
}
.chapter3 .objective {
  border-left: 15px solid #fbd5ac;
  background-color: #fef7ee;
}
.chapter4 .objective {
  border-left: 15px solid #fee2a1;
  background-color: #fff9ec;
}
.chapter5 .objective {
  border-left: 15px solid #fff0aa;
  background-color: #fffcee;
}
.chapter6 .objective {
  border-left: 15px solid #e8eec1;
  background-color: #fafcf3;
}
.chapter7 .objective {
  border-left: 15px solid #d6e7bc;
  background-color: #f7faf2;
}
.chapter8 .objective {
  border-left: 15px solid #c4e5e0;
  background-color: #f3faf9;
}
.chapter9 .objective {
  border-left: 15px solid #b9e4f1;
  background-color: #f1fafc;
}
.chapter10 .objective {
  border-left: 15px solid #bdd8f0;
  background-color: #f2f7fc;
}
.chapter11 .objective {
  border-left: 15px solid #c7cae5;
  background-color: #f4f4fa;
}
.chap .objective {
  background-color: #d5b8d5;
  border-left: 15px solid #641652;
}
.objective ul {
  margin: 0em;
}
.objective ul li {
  color: #444;
}
.objective h3 {
  font-size: 1.1em;
  text-transform: uppercase;
  text-align: left;
  color: #444;
  font-family: "DejaVuSans-bold";
  margin: 0em 0em 0em 0em;
}

/* Other */
p.right {
  text-align: right;
}
span.right {
  float: right;
  margin-top: 1em;
}
.norap {
  white-space: nowrap;
}

/*Code*/
pre {
  font-size: inherit;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  margin: 1em 0;
  padding: 0;
  background-color: #ececed;
  text-align: left;
  text-indent: 0;
  white-space: pre-wrap;
}
p.unindentedaa {
  font-size: inherit;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  margin: 0em 0;
  font-family: monospace;
  padding: 0;
  text-align: left;
  text-indent: 0;
  white-space: pre-wrap;
}
span.pres {
  font-size: inherit;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  margin: 0em 0;
  font-family: monospace;
  padding: 0;
  text-align: left;
  text-indent: 0;
  white-space: pre-wrap;
}

/*TEST normal my/mu*/
span.dejavuserif {
  font-family: "DejaVuSerif";
  font-style: normal;
}

.c-program {
  margin: 1em 0em 1em 0em;
  padding: 0.25em 0.25em 0.3em 0.25em;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;
  white-space: -moz-pre;
  white-space: -pre;
  white-space: -o-pre;
  word-wrap: break-word;
  tab-size: 3;
  -moz-tab-size: 3;
  -o-tab-size: 3;
}

.c-program_scroll {
  margin: 1em 0em 1em 0em;
  padding: 0.25em 0.25em 0.3em 0.25em;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;
  white-space: -moz-pre;
  white-space: -pre;
  white-space: -o-pre;
  word-wrap: break-word;
  tab-size: 3;
  -moz-tab-size: 3;
  -o-tab-size: 3;
  max-width: 550px;
  overflow-x: scroll;
  overflow-y: auto;
}

/* Small */
.blue {
  color: #0088b4;
}
.red {
  color: #f04d31;
}
.green {
  color: #00944b;
}
.purple {
  color: #8c5ca7;
}

section.oppgaver h2 {
  margin: 1.5em 0em 0em 0em;
}
.chapter section.oppgaver {
  padding: 2em;
  margin: 0.5em -3.2em -3.5em -3.2em;
  border: 15px solid #9b5aa0;
}
.chapter1 section.oppgaver {
  padding: 2em;
  margin: 0.5em 0em -3.5em 0em;
  border: 15px solid #eecedd;
}
.chapter2 section.oppgaver {
  padding: 2em;
  margin: 0.5em 0em -3.5em 0em;
  border: 15px solid #f0d2cb;
}
.chapter3 section.oppgaver {
  padding: 2em;
  margin: 0.5em 0em -3.5em 0em;
  border: 15px solid #fbd5ac;
}
.chapter4 section.oppgaver {
  padding: 2em;
  margin: 0.5em 0em -3.5em 0em;
  border: 15px solid #fee2a1;
}
.chapter5 section.oppgaver {
  padding: 2em;
  margin: 0.5em 0em -3.5em 0em;
  border: 15px solid #fff0aa;
}
.chapter6 section.oppgaver {
  padding: 2em;
  margin: 0.5em 0em -3.5em 0em;
  border: 15px solid #e8eec1;
}
.chapter7 section.oppgaver {
  padding: 2em;
  margin: 0.5em 0em -3.5em 0em;
  border: 15px solid #d6e7bc;
}
.chapter8 section.oppgaver {
  padding: 2em;
  margin: 0.5em 0em -3.5em 0em;
  border: 15px solid #c4e5e0;
}
.chapter9 section.oppgaver {
  padding: 2em;
  margin: 0.5em 0em -3.5em 0em;
  border: 15px solid #b9e4f1;
}
.chapter10 section.oppgaver {
  padding: 2em;
  margin: 0.5em 0em -3.5em 0em;
  border: 15px solid #bdd8f0;
}
.chapter11 section.oppgaver {
  padding: 2em;
  margin: 2em 0em -3.5em 0em;
  border: 15px solid #c7cae5;
}

.fasit {
  margin-top: 0.5em;
}

p.index-head {
  font-size: 1em;
  text-align: left;
  color: #c7421b;
  font-weight: bold;
  margin: 1em 0em 0em 0em;
}
.border h3 {
  border-bottom: 2px solid #834483;
}
.pink1 {
  color: #c7421b;
}
.orange {
  color: #f36f23;
}
h3.pink2 {
  color: #c7421b;
}
.black {
  color: #444;
}

#div-1099 {
  clear: both;
  width: 100%;
  margin: 0px 0px 20px 0px;
}

#figcaption26_1 em {
  font-family: "DejaVuSans";
}

.nospaceabove {
  margin-top: 0em !important;
}

.negativespacebefore {
  margin-top: -1.5em !important;
}

.spaceabove {
  margin-top: 1em;
}

/*---MATH---*/
.math_inline {
  display: inline-block !important;
  margin-top: -1em;
  margin-bottom: -1em;
  padding: 0;
}
/*^^^Test med margins for å unngå for mye luft */
/*^^^Test med padding=0: none for å unngå scrollbar */

.math_block {
  display: block !important;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3em;
}
.loweralpha.valign_top .math {
  vertical-align: top;
  margin-top: -0.6em;
}

/* Small Screen */
@media all and (max-width: 670px) {
  .warning {
    display: block;
  }
}

@media only screen and (max-width: 850px) {
  .box-d > h3 {
    padding: 4px 0px 4px 27px;
    margin: -37px -11px 1em -39px !important;
  }
}

@media only screen and (max-width: 850px) {
  .example > h3 {
    padding: 4px 0px 4px 27px;
    margin: -37px -11px 1em -39px !important;
  }
}

@media all and (max-width: 670px) {
  figure.var-a,
  figure.var-b,
  figure.var-c,
  figure.var-d,
  figure.var-e,
  figure.var-e1,
  figure.var-f1,
  figure.var-g figure.var-x,
  figure.size30,
  figure.size40,
  figure.size55,
  figure.size60,
  figure.size65,
  figure.size70,
  figure.size80,
  figure.size85,
  figure.size90,
  figure.size95,
  figure.size100 .oppgaver,
  .chapsummary,
  h1 {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media all and (max-width: 720px) {
  #content {
    padding: 0.6em 0.6em;
  }
}

button.next-chapter {
  float: right;
  text-align: right;
  border: none;
  padding: 16px 32px;
  font-size: 32px;
  position: fixed;
  top: 0;
  right: 0;
}

button.previous-chapter {
  border: none;
  padding: 16px 32px;
  font-size: 32px;
  position: fixed;
}
